<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
    <%= render 'layouts/studyIndex' %>
    <div id="studytitle">
      <h3>
        株とは
      </h3>
    </div>
    <div id="studycontents">
      株(株券)とは会社がビジネスをする上で必要なお金を集めるために発行するものです。<br>
      また、売買できる価値があるチケットという意味の有価証券の一つと言えます。<br>
      株を売買する時の値段のことを株価と呼びます。<br>
      <br>
      <h4>
        【株主】
      </h4>
      <br>
      この株を持っている人を株主と呼び、株主が持っている権利のことを株式と言います。<br>
      株主は株を発行した企業の所有者となり、保有している株の数だけその会社の経営の方針に影響力を持つことができるのです。<br>
      株を発行している会社を株式会社と呼び、株式会社は株を発行して調達した資金で
      仕事をするビルを借り、人を雇用し、工場を作り、機械などの設備や材料を購入してモノやサービスを展開します。<br>
      こうして得た事業からの収益は所有者である株主に還元されることがあります。<br>
      株式会社が得た利益から株主に還元されたお金のことを配当と呼びます。<br>
      <br>
      <h4>
      【なぜ配当のない企業の株も買われるのか】<br>
      </h4>
      <br>
      実は配当はお金だけではなく、その会社が作っている肉や野菜や米、映画や食べ物の無料チケットなど、
      生産しているモノや提供しているサービスの中で株主が喜ぶようなものが多いですのですが、
      中には配当のない株式会社もあります。<br>
      成長している企業で配当がない場合、利益を成長のための資金として活用しているケースが多いです。<br>
      <!-- 一般に、配当のある、なしに関わらず、株主は株を購入した価格よりも高い価格で売却することで得られる利益が目的です。<br> -->
      後で説明しますが、株を売買する値段である株価は会社がこれから生み出す利益が高いほど高くなります。<br>
      成長途中で株主に還元できる利益がまだ出ていなくても、将来配当などの形(※)で何かしらの形で株主に還元することが予想されるためです。<br>
      <br>
      <div class="studytips">
        ※配当以外にも企業が株主から株式を買い上げたり(自己株償却)、他の会社から買収されるなどして株を買い上げられたり(TOB)するため、無配当企業でも成長していれば株価は上がります。
      </div>
      <br>
      従って、株主の多くは株を保有することで得られる配当という収入や売却することで得られる収益(売却益)を目的としています。<br>
      前者のような収入をインカムゲインと呼び、後者をキャピタルゲインと呼びます。<br>

      <br>
      投資家はこうした株式会社による収入(インカムゲインとキャピタルゲイン)を期待して株を購入したいと考え、需要が高まるので
      利益の多い会社の株価は上がる傾向にあります。<br>
      逆に利益の少ない企業の株価は低くなります。<br>



      <br>
      次節以降でもう少し詳しく説明<br>
    </div>
  </div>
</div>
