
<% title = '投資を身近に' %>
<% set_meta_tags title: title %>
<% breadcrumb :familiar_with_investment %>

<%= "開発版：#{@path}" if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         <%= title %>
       </h1>
     </div>
     <div id="studyindex">
      <%= render 'layouts/study_elementary_stock_trade_index' %>
    </div>
    <div id="studycontents">
      <h2>株式投資をより身近に</h2>

みなさんは給料でもらった資金をどこで管理していますか？
多くの方は銀行で貯金しているのではないでしょうか。
でも銀行の貯金に入れているだけでは損をしていることをご存知でしょうか。

少し難しいですが、経済というものは物価という概念があって、
国民の誰かが働くと新しい価値を生み出され、その分だけ物価が上昇するという仕組みになっています。
新しい価値と言っても畑で農作業をすることでも構いません。
それが究極的に農家の家計を助け、余裕ができたところで品種改良をして高付加価値商品の開発につながったり、
より効率的に農業ができるようになったりするからです。

したがって、今この瞬間に誰かが仕事をしている日本という国において
目に見えない程度のものですが、常に物価が上昇しております。

例えば20万円を給料でもらって、それが銀行の預金に入れられたとします。
１年後に銀行の預金残高は金利(0.001%)が上乗せされて20万2円になります。
ですが、物価が1%上昇する場合、1年前に20万円で変えていたものは
1年後には20万2000円になってしまいます。
つまり、銀行に預けてしまったが故に20万円の価値は1年後には1998円だけ損することになってしまいます




このように自分で稼いだお金を貯金で増やそうとしても、
これだけの低金利の時代ですからなかなか増やすことは難しいです。
定期預金にしていても期間が短ければほんのわずかな利子しかつきませんし、
預けている金額が少なければ定期預金にしている意味もあまりないことがほとんどです。
ですから効率よく自分の資産を増やしていくには投資をしていく必要があります。
投資というのはリスクもあるので、自分の資産を一切減らしたくないのであればおすすめできませんが、それでも資産を効率よく増やせる良いきっかけになるでしょう。
そして、普通の会社員や主婦をしているような人であれば大きな金額を投資することは大きな賭けにもなってしまいますし、自分の生活費用を脅かす原因にもなってしまうので、投資も選ぶことが必要です。
投資といえば株やFX、投資信託、不動産投資などがありますが、投資家でもない個人が行う投資であれば、まず最初に目を向けたほうがいいのが株や投資信託です。
FXや不動産投資は儲けが多くなることもありますが、とても大きな借金を負うくらいの損害を被る危険性もあります。
また、不動産投資は投資する不動産の価値を長く考えていく必要があります。
今は価値があり儲けが出ても、その状態がずっと維持できるとは限りません。
時代によって人気エリアも変わりますし、その時の建物の状態が悪ければ、修繕費用なども発生します。
長く不動産の価値を考えるという意味でも、不動産に関する知識や調査が必要になってくるので、投資初心者には向かないでしょう。
ですから比較的に簡単にスタートすることができる国内株や投資信託が魅力です。
国内株は株を買って株主になれば配当金や株主優待も受け取ることができるので、所有していく楽しみもあるでしょう。
株主優待という制度は日本の企業のみのサービスであり、外国企業では見られないサービスなので、日本ならではの面白みでもあります。
ですが、株は変動も大きいので、上がったり下がったりで買い時と売り時に悩むことも多いので、気が小さい人は運営に少々困ってしまうこともあります。
ですからそんな心配も少ないのが投資信託です。
数千円から積み立てることができ、また毎月自動引き落としの設定にしておけば、毎月一定の額が自動的に積み立てられるようになるので便利です。
利益も少ないですが、その分損失分も少ないですし、辞めたいときはすぐに解約できるのも便利です。
また、投資信託の良いところは、外国株も身近になるところです。
外国株も日本の証券会社の口座から購入することができますが、購入するのに円からドルに換えたり、またその逆の作業もしなければなりません。
ですが、外国株の投資信託であれば円のまま運用していくことができて手間いらずです。
憧れの外国株も身近になることで、投資意欲も増すでしょう。
株を買うにも投資信託を行うにも、証券会社の口座開設が必要になってきますが、今はネット証券も充実しているので開設がとても簡単です。
ネット証券の場合は取引をしていくのに手数料が格安で提供されていることも多いので、いろいろ試してみたい人にも良いです。
気になる証券会社がいくつもあるような場合は、いくつもの証券会社の口座を開設するというのも良いです。
銀行それぞれに特徴や使いやすさがあるように、証券会社にもそれぞれ使いやすさ、特徴があるので、自分の使いやすいように使っていくといいでしょう。
ですが、証券会社の口座開設で注意しなければいけないのがNISAです。
株や投資信託で利益が出た場合に、その利益に対して税金がかかってきますが、NISAを利用すれば税金がかかりません。
ですから株や投資信託を利用する時はNISA口座を利用すればお得ですが、NISA口座はひとつの証券会社でしか開設できません。
なので、NISAを利用する時はメインで利用する証券会社を決めてから、そこで開設するのも良いでしょう。
また、NISAも購入限度額があるので、頻繁に買ったり売ったりする株銘柄よりは、長期保有する株銘柄に使ったほうが良いです。
そのほうが配当金も非課税になるので、効率よく資産を増やしていけるでしょう。
一昔前であれば株や投資信託といった投資は会社員や主婦には不向きでした。
それは大手の株はとても庶民が変える金額ではなかったですし、プロの投資家向けの投資であったからです。
ですがここ数年で株もかなり安く、株主優待が充実し、企業が個人の投資家も大事にすることで投資を取り巻く環境が大きく変化しました。
ですから株や投資信託がとても身近なものになったとも言えます。
また、スマートフォンのオンラインを使っていつでも株の変動をリアルタイムに把握できることが、株を身近なものにしているでしょう。
投資は勉強してから行うことも大事ですが、自分で実際に行ってみて、自分なりのペースや投資方法を学ぶことも大事です。
投資には縁がなかった人も投資の身近にして資産を増やしていきましょう。
