<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

    <%= render 'layouts/studyIndex' %>
    <div id="studytitle">
      <h3>
        上場とは
      </h3>
    </div>
    <div id="studycontents">
      <br><h4>会社が資金を調達する方法</h4>
      まず、上場について説明する前に、会社がどのようにしてビジネスを行っているかを知る必要があります。<br>
      当然、株式を発行していない会社もありますが、上場とは関係ないのでこのケースは無視して、以降、株式会社のみを対象に説明します。<br>
      会社は事業をするために従業員を雇用して土地やオフィスを借り、机やパソコンや生産設備などの機械を購入します。<br>
      資金を十分持っている場合はいいのですが、会社を立ち上げる人全員が持っている訳ではありません。<br>
      事業資金を持っていない社長さんはさまざまな投資家に自分の会社に投資してもらえないか相談します。<br>
      投資家は将来その会社が成長すると見込めば投資します。<br>
      その時に投資家から受け取る事業資金の代わりに渡すのが株券です。<br>
      昔は株券という紙面を発行していた時もありましたが、現在は電子化の時代ですから実際に受け取るのは契約書程度であることが多いです。<br>
      こうして株式会社は事業資金を受け取る代わりに株券を発行するのです。<br>
<br><br>
      ちなみに株以外にも事業資金を調達する方法は存在します。<br>
      次に株以外に資金を調達する手段を解説し、株による資金調達のメリットを述べます。
      <br>
      <br><h4>会社が株式を発行するメリット</h4>
      企業による資金調達の手段として、株ではなく債券を発行することもあります。<br>
      資金の出し手から見ると株券で調達に応じることは出資と言いますが、
      債券で調達に応じることは融資と言います。
      企業側は後者は期日までに返済の義務を負いますが、前者は会社の成長を前提にして元本は担保されません。<br>
<br>
      株券はその事業が成功しなくても投資家へ返済の義務はありませんが、債券は借金ですので返さなくてはなりません。<br>
      倒産した時にも株主は投資資金を回収するように訴えることができますが、債券がある場合には株主より優先して債権者に資金を返さなくてはなりません。<br>
<br>
      仮に同じ企業の株券と債券が同じ額で発行された場合、債券の場合は返済の優先度が高い反面、投資金額が回収しやすいため、
      一般に債券の利子は株式による配当よりも低い傾向にあります。<br>
      投資家は株券を購入して高い利回りの配当を受け取る（もしくは株価の値上がりを期待する）か、
      債券を引き受けて利回りは低くても回収の確実性を高めるのかの選択をすることになります。<br>
      したがって、株主としては出資する際にその会社がどの程度利益が上がっているのか、また倒産のリスクはないのかなどの観点で、
      <strong>”優良銘柄”</strong>を調べる必要があるのです。<br>
<br>
      <br>
      <h4>どうやって優良銘柄を調べるか？</h4>

      国内には毎年数万もの会社が作られて(は消えて)いく中で、
      投資家としてどの銘柄に注目すべきか考えた時、
      一定の利益があがっていて、倒産しにくい会社を選びたいという希望があるのですが、
      この一つの目安として、東証などに上場しているかどうかという基準があります。<br>
      上場とは、その取引所で<strong>一定の基準に合格したお墨付きを与えられている</strong>ことを示しています。<br>
      取引所には売上高から利益、従業員数の規定や財務や取引先の健全性など一定のルールを定めた
      取引所上場基準というものがあり、企業はこの基準に合格しないと取引所に上場したくても上場できません。<br>
      上場することを、初めて広く投資を募ることができるという意味で、IPO(Initial Public Offering)と呼ぶことがあります。<br>

      <br><h4>投資家にとっての上場のメリット・デメリット</h4>
      一般的な投資家からすれば、この基準に合格した企業だけに投資していれば、
      投資先の企業について一から調べなくてもある程度、投資の安全性が一定の基準で担保されると言えます。<br>
      例えば東証一部上場企業には約1600銘柄ありますが、このような基準で選別されていると考えれば広く投資先を集めることができます。<br>
      <br>
      少し広く長い目で見れば、国全体の生産活動が順調であるとき、
      企業の生産活動に応じて、一般的にモノやサービスの値段は少しずつ上がっていくと考えられているので、
      お金をそのまま持っていても相対的に価値は目減りしていきますが、
      投資家は特に日本を代表する上場株に広く投資することで資産を目減りさせることなく運用することができます。<br>
      これは分散投資のページで説明します。<br>
<br>
      <br>
      一方で、当然ですが上場しているからといって、必ずしも優良銘柄であるとは限りません。<br>
      あくまで上場は取引所の上場審査部が認めたという一つの目安だけであって、
      本当に財務が健全であるかどうか、利益がたっているかどうか、
      その結果、この会社の株価は将来値上がりするのかどうかについては自分で把握しないといけないのです。<br>
      また、上場することにより、経営が好調であるにもかかわらず、投機的な動きにより株価が下落するということもありますので
      市場動向にも注意しなければなりません。<br>
<br>
      <br>
      上場前の投資家という意味では、こうした銘柄を早い段階から安い価格で購入するため、上場前に出資する投資家もいます。<br>
      会社の成長ステージに応じて、起業と同時に調達するシードラウンド、エンジェルラウンド、シリーズA、シリーズB、...と続きます。<br>
      こうした投資はPE(Private Equity)と呼ばれており、
      特にIT業界などで経験豊富な投資家が若い起業家に出資しながら経営のアドバイスをするということもあります。<br>
      投資家は安く仕入れた株を、上場によって大金を手に入れることができるのです。<br>
<br>
      <br><h4>企業にとっての上場のメリット・デメリット</h4>
      特に時価総額の小さな新興企業の場合など、
      投機的な動きに晒されて株価が大きく変動するリスクは存在しますが、
      投資家の注目度が上がって、少なくとも上場前よりは投資先として興味を持ってもらえます。<br>
      注目が集まれば、認知されやすくなるので本業の取引先も広がる可能性があります。<br>
      株というのは企業からしたら換金性の高い資産になりますので、
<br>
      また、IPOから一定期間、株価が急上昇する傾向があるのも(上場前から株を持っている)株主にとってはメリットです。<br>
      これは今まで注目のなかった未上場株が東証の上場基準に合格することで注目され、
      広く取引できるようになると多くの投資家の買いが殺到するためです。<br>
      これはPE投資家のメリットにつながります。



    </div>
  </div>
</div>
