<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

    <%= render 'layouts/studyIndex' %>
    <div id="studytitle">
      <h3>
        上場とは
      </h3>
    </div>
    <div id="studycontents">
      <h4>会社が資金を調達する方法</h4><br>
      まず、上場について説明する前に、会社がどのようにしてビジネスを行っているかを知る必要があります。<br>
      当然、株式を発行していない会社もありますが、上場とは関係ないのでこのケースは無視して、以降、株式会社のみを対象に説明します。<br>
      会社は事業をするために従業員を雇用して土地やオフィスを借り、机やパソコンや生産設備などの機械を購入します。<br>
      資金を十分持っている場合はいいのですが、会社を立ち上げる人全員が持っている訳ではありません。<br>
      事業資金を持っていない社長さんはさまざまな投資家に自分の会社に投資してもらえないか相談します。<br>
      投資家は将来その会社が成長すると見込めば投資します。<br>
      その時に投資家から受け取る事業資金の代わりに受け取るのが株券です。<br>
      昔は株券という紙面を発行していた時もありましたが、現在は電子化の時代ですから実際に受け取るのは契約書程度であることが多いです。<br>
      こうして株式会社は事業資金を受け取る代わりに株券を発行するのです。<br>


      当然、株式以外にも事業資金を調達する方法は存在します。<br>
      株券ではなく、債券を発行する方法です。<br>
      株券はその事業が成功しなくても借金にはなりませんが、債券は借金ですので返さなくてはなりません。<br>
      倒産した時にも株主は投資資金を回収するように訴えることができますが、債券がある場合には株主より優先して債権者に資金を返さなくてはなりません。<br>
      <br>
      <h4>会社が株式を発行するメリット</h4><br>
      会社にとってのメリット
      上に述べた通り、会社は

      株主にとってのメリット

      <h4>未上場企業と上場企業の違い</h4><br>
      <h4>上場のメリットとデメリット</h4><br>

    </div>
  </div>
</div>
