<% title = 'マイナス金利時代の投資術' %>
<% set_meta_tags title: title %>
<% breadcrumb :study_low_interest_rate_investment %>

<%= "開発版：#{@path}" if Rails.env.development? %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>マイナス金利時代の投資術</h1>
     </div>
    <%= render 'layouts/study_intermediate_securities_fee' %>
    <div id="studycontents">
      <h3>■史上初のマイナス金利</h3>

      2016年2月、日本の金融史上初の政策であるマイナス金利政策が日銀によって導入されました。<br>
      マイナス金利政策によって銀行が日銀に預けている資金を企業や個人への貸出に回したり、投資に資金が流れるようになることが目的です。<br>
      しかし一般の家庭にもマイナス金利政策の負の影響が出ています。実感している方も多いと思いますが、その例が銀行の預金金利の引き下げです。<br>
<br>
      大手メガバンク3社やゆうちょ銀行等の現在の普通預金金利はなんと0.001％です。<br>
      これは10万円を1年間預金してもわずか1円(税金を考慮せず)しか利息が付かないということになります。<br>
      このような低金利の影響で、今まで預金をしてきた方が、より運用効率の高い投資という選択肢に注目を集めています。<br>
<br>
      今まで預金ばかりで、投資を経験したことが無くて突然、証券会社に口座を開設して投資を始めるには少し抵抗がある方もいるかもしれません。<br>
      しかし、こうした日本人の抵抗感は世界の先進国では稀な方なのです。
<br>
      ある調査によると、日本では株を実際に取引するという家庭が２割程度であるが、アメリカでは５割を超えています。<br>
      日本では株の売買を実際に行っている方は少数派ですが、アメリカでは一般的な事です。<br>
      日本ではあまり馴染みのないことですが、留学生の話によるとアメリカでは義務教育の中で投資について学ぶ機会が多々あります。<br>
      そうした教育機会の中では自分の資産を銀行に預けるだけではなく、給料で稼いだお金を株や債券に投資することによって増やすということが無意識のうちに根付いているのです。<br>
      ぜひ預金という選択肢だけでなく、投資等の幅広い選択肢から最適な資産の運用方法を選択して頂きたいと思います。<br>
<br>
      しかしそれでも投資に対して不安がある方も多いでしょう。<br>
      そういった時はまず少額から投資をおこなってみるのをおすすめします。<br>
      そこで今回は投資初心者が少額から投資を始める際に気を付けるべきポイントを3つ紹介します。<br>
<br>
<br>
      <h3>■少額投資だと意外とかかる手数料</h3>

      まず、本格的に投資を始める際に必要なのが証券会社に口座を開設することです。<br>
      しかし証券会社を選択する際に気をつけないといけないことがあります。<br>
      まず気を付ける点としては証券会社ごとに違う取引手数料です。<br>
<br>
      例えば１０万円で株の取引をする際、証券会社での売買手数料は１００円前後かかる場合が多いです。<br>
      仮に手数料が１００円とすると、株を10万円購入した時点で資産に対して0.1％の損失が出てしまいます。<br>
      たかが0.1％だと思うかもしれませんが、上記にも述べたとおり現在の普通預金は0.001％なので、0.1％は10万円の普通預金100年分(税金考慮せず)の利息となります。<br>
      少額投資の際は少しでも手数料が安い証券会社を選択することが大切なのです。<br>
<br>
      そこで少額投資をする方に手数料の面で紹介したい証券会社があります。<br>
      例えば、松井証券は10万円までの株取引の手数料がなんと無料になります。<br>
      株の取引を開始した直後に普通預金100年分の利息の損失を出すより、手数料無料で株取引をした方がより良い運用実績を出せる可能性が高まります。<br>
<br>
<br>
      <h3>■年間3,000円!?　あなたも取られているかもしれない口座管理料</h3>
      証券会社を選択する際に気をつけなければいけないものとして、口座管理料という手数料が存在する場合があります。<br>
      かつては対面系証券会社の多くで口座を持っていると徴収されていた手数料です。<br>
      現在では口座管理料を徴収する証券会社は少なくなってきていますが、
      まだまだ対面系証券会社の中には年間3,000円前後の口座管理料を徴収する場合も少なからずあります。<br>
      その際にネット証券だと口座管理料が発生する証券会社はまずないので、少額投資から始める方は取引手数料も安いネット証券をおすすめします。<br>
<br>
      <h3>■意外と高い株の税金</h3>
      投資に成功して利益を出せたとしても、浮かれずに注意して頂きたいのが株の利益にかかる税金です。<br>
      現在日本では株の利益に対して20.315％課税されます。<br>
      せっかく出した利益の20％以上を税金として納めなければなりません。<br>
<br>
      しかし、ある制度を利用することでこの20％以上の税金が免除されます。<br>
      それはNISA(ニーサ)という制度です。<br>
      このNISAという制度は、証券会社にNISA口座を作れば活用することができます。<br>
      年間120万円までの投資が最大5年間(最大600万円まで)非課税となります。<br>
<br>
      しかし証券会社によって、NISAでの売買手数料にも差があります。<br>
      どこの証券会社を選択し、NISA口座を作るかが重要となります。<br>
      そこで、NISA口座の売買手数料が無料の証券会社をいくつか紹介します。<br>
      松井証券、楽天証券、SBI証券、カブドットコム証券等の証券会社はNISA口座での株取引手数料が永久無料となっています。<br>
      またマネックス証券も手数料のキャッシュバックにより、NISA口座での売買手数料が無料となっています。<br>
<br>
<br>
      <h3>■まとめ</h3>
      銀行の預金金利が低い現在、少しでも資産を増やそうとするなら投資は必要不可欠な選択肢となります。<br>
      いきなり大金を慣れない投資に回すのではなく、最初は少額から投資を始め、投資に慣れることをおすすめします。<br>
<br>
      しかし、少額投資の場合には手数料が大きな負担となってしまいます。<br>
      その為、少しでも手数料の安い証券会社を選択することによって、実りある投資を実現したいですね。<br>
      そして、投資が成功した際もよけいな出費を控える為、NISA等の税金対策をあらかじめ準備することも忘れないようにしましょう。<br>
<br>

    </div>
  </div>
</div>
