<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

    <%= render 'layouts/studyIndex' %>
    <div id="studytitle">
      <h3>
        市場の詳細
      </h3>
    </div>
    <div id="studycontents">
      ・市場種類<br>
      ・取引時間<br>
      ・参加者<br>
      <br>
      <h4>
        東京証券取引所（東証）
      </h4>
      株式などを売買する市場には様々な種類が存在します。<br>
      日本の取引所には、東京証券取引所、大阪証券取引所、名古屋証券取引所、福岡証券取引所、札幌証券取引所、ジャスダック証券取引所などが存在します。<br>
      また東京証券取引所だけでも、一部、二部、マザーズ市場などが存在します。<br>
      大阪証券取引所にも一部、二部、ヘラクレス市場が、名古屋証券取引所にも一部、二部、セントレックス取引所などが存在します。<br>
      しかし、日本の株式市場の９割は東京証券取引所に集中している現状があり、
      2012年に大阪証券取引所が東京証券取引所と持ち株会社を立ち上げ、事実上の合併を行ったことに加え、
      2013年には大阪証券取引所は株(現物)の取引を停止させ、デリバティブなどの別の投資商品を専門に扱うようになるなど、
      基本的には統合する方向に向かっています。<br>
      統合によって東京証券取引所は世界第3位の規模となり、ますます世界の注目を集めています。<br>

      <br>
      <h4>
        さまざまな市場
      </h4>
      <br>
      世界には東証以外にも多くの株式市場が存在します。<br>
      例えば、ニューヨーク証券取引所は東証、ロンドン証券取引所に並んで世界三大取引所の一つと呼ばれていました。<br>
      <strong>”呼ばれていました”</strong>というのは、これまでの呼称であった三大証券取引所を定義することが難しくなっているためです。<br>
      例えば、成長著しい中国市場の台頭により、証券取引所間の出来高(株数)や売買されている代金での序列を見るなど、
      比較する指標によって序列が変わってしまう状況になっています。
      <div class="studytips">
        <strong>出来高で証券取引所を比較する？</strong><br>
        後述の通り、株は証券取引所で取引されることが最も大きいシェアを占めていますが、各国の規制緩和が進んだ結果、
        株券に限らず債券や為替市場などで、商品有価証券全般で取引所以外でも取引されることが多くなってきています。<br>
        代表例が日本のPTS(Proprietary Trading System)やアメリカのATS(Alternative Trading System)などの私設取引システムです。<br>
        私設取引システムでは、取引時間が限定的な取引所よりも取引時間が拡大していることに加え、
        売買価格の単位を取引所よりも細かくするなどの取引しやすさの向上を狙っています。<br>
        こうした私設取引システムや証券会社が注文を個別にマッチングさせてしまうダークプールなど、取引所以外での取引が広がり、
        市場の活況度合いを比較するために、取引所間の取引を比較するメリットが薄くなっています。<br>
      </div>
      ただ、経済には一物一価という法則があり、一つの会社はどこで取引されても同一価格で評価されるという前提があるので
      複数の取引所に上場している銘柄であっても、どの市場で取引されているのかを抑えておく程度で良いと思っています。<br>
      重要なのは、その株式が将来上がるのか下がるのか、現在の株価が妥当な水準かどうかをを予測することです。<br>
      そのためには、為替を見ることや国の経済の状況を知ること、各国の証券取引所の情報を知っておくも必要です。<br>

      <br>
      <h4>
        東証取引時間
      </h4>
      <br>
      東京証券取引所における株式は9時から11時30分までの前場と、12時半から15時までの後場に分かれています。<br>
      9時に取引が開始されることを「場が開く」といい、15時に取引が終了することを「場が引ける」と呼びます。<br>
      場が開く時の最初の値段は8時20分から9時までに受け付けられた注文を集約する板寄せ方式で決定され、始め値と呼ばれます。<br>
      場が引ける時の最後の値段は15時時点で集められた注文を板寄せ方式で決定され、終り値、もしくは引け値と呼びます。<br>

      <br>
      <h4>
        取引参加者
      </h4><br>
      各証券取引所にはさまざまな参加者がいます。<br>
      代表的なのは機関投資家と呼ばれる証券会社や信託銀行、商業銀行、投資銀行、投資ファンド、個人投資家、外人投資家などに分けられます。<br>
      さまざまな取引の中で最も大きな取引量なのが、信託銀行などによる年金ファンドです。<br>
      信託銀行は全国の企業年金や全国民の個人年金を扱うGPIFから委託を受け、世界で最も多い資産を運用する銀行です。<br>
      <div class="studytips">
        <strong>GPIF</strong><br>
        年金管理運用独立行政法人(Government Pension Investment Fund)。<br>
        運用資金は一時130兆円を超え、世界第2位のノルウェー政府の年金ファンドの6千億ドルの２倍以上の世界最大の投資ファンドです。<br>
        その資産規模故に独立した運用方針は世界でも注目される中で、
        安倍政権の株価上昇政策と同時に日本株ウェイトを引き上げるアセットアロケーションを行うなど運用方針の独立性を疑う声もあります。<br>
      </div>
      信託銀行は資産規模が大きい故に長期運用を前提とした分散投資を行なっており、一回あたりの取引額は大きいものの、取引頻度としては少ないのが特徴です。<br>
      一方で、貯蓄から投資へという流れで増加している個人投資家や外人投資家によるダイナミックな取引は近年活発化しています。

    </div>
  </div>
</div>
