<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

    <%= render 'layouts/studyIndex' %>
    <div id="studytitle">
      <h3>
        株式運用のメリット
      </h3>
    </div>
    <div id="studycontents">
      上場審査によるフィルタリング<br>
      成長企業への長期投資<br>
      配当収入<br>
      IPO<br>
      ニーサ<br>
      お金は寝かせるのはもったいない<br>
      分散投資(厳選された投資先の中でバリエーションが豊富)によるダウンサイドリスクの限定<br>
      上昇局面だけではない下落局面でももうける方法<br>

      【経済学的】経済は物価が上がる前提で成長しているため貨幣を保有しているだけでは資産が目減りしてしまう<br>

      株式投資をするとどんなメリットがあるのでしょうか
      まず経済的なメリットがある
      ・ザラ場での取引と板寄せ、IPOなどは分けて考える
      ・そもそも取引所上場基準という審査基準が存在し、上場するには一定の敷居があるので倒産しづらい
      ・成長企業への長期投資により銀行預金より高い運用利回りとなる
      ・配当収入と値上がり収益
      ・IPOや資本異動による収益機会
      ・債券などと異なり業種間の分散効果が効きやすい


      銀行預金より投資家の優遇措置
      ・金利は低いが投資家の投資利回りは高い→売買益に対してはnisaで低い
      配当金や優待などを受け取れる



ーーー
      まず株式投資をすると、どんなメリットがあるのか考えてみましょう。<br>
<br><br>

      <h3>キャピタルゲイン</h3>
      株式投資をするメリットといえば、何といっても値上がり益があります。<br>
      株価は一時的な値上がりと値下がりを繰り返しますが、長期的には企業の価値を表しますので、
      会社が効率的に生産活動をする限り株価は上がり続けます。<br>
      したがって、そう言った企業を選んで株を買えば値上がりによる売却益を手に入れることができます。<br>
      こうした株式を売買することによって得られる利益をキャピタルゲインと呼びます。<br>
      キャピタルゲインは安いところで買って、高いところで売ることで実現できますが、
      これは皆さんが思っているよりはるかに簡単に実現できることが多いです。<br>
<br><br>
      例えば、IPOや自己株消却などのタイミングで株価が上がることはあります。<br>
      その他にも機関投資家のルーチン化している投資行動パターンを逆手にとって先回りして売買しておくことで値上がりを待つと言う方法もあります。<br>
<br>
      これらはいずれのこのサイト内で説明します。<br>
<br>
      一見、ランダムに動いているように見える株価ですが、一つ一つ理解していけば原因は必ず存在します。<br>
      今は10月中旬だから機関投資家による年金ファンドの買いがそろそろ大きく入るな、と当たりをつけることができれば
      先回りしてその銘柄を買うことで利益を出すことができます。<br>
<br>
      また、後々説明しますが、相場が大きく急落した時、その時の出来高と値下がり幅に応じて、
      安いところで買おうとして待っている投資家による反動買いを誘い、その翌日にはかなり高い確率で主要な銘柄が値上がりします。<br>
<br>
      こうした基準や投資の考え方について、幸いなことに全てウェブ上で公開されていますし、当然このサイトでも説明しています。<br>
<br>
      一般に、キャピタルゲインを狙う方法としては上記の通り、株価が値上がりするイベント(資本異動)などで売買をするパターンと
      値下がりするイベント(一部の公募増資、株式分割、業績下方修正)によるパターンと二種類あります。<br>
      後者であれば買ってから売るのではなく、信用売り(空売り)という手法で利益を出すことができます。<br>
<br><br>

      また上でも少しだけ書きましたが、企業の業績が良くなれば株を購入する投資家は増えますが、
      買われ過ぎていたり、業績が悪くなって下方修正した場合は逆に株価が下がります。<br>
      こうして株価は企業の価値(将来の収益)を表します。<br>
      企業が効率的に生産活動をしていれば株価は上昇し続けます。<br>
      機関投資家のパッシブファンドなどはまさにこうした考え方で、国が存続し続け、企業が生産活動を合理的に
      低コスト、高収益を目指す以上、日経平均やTOPIXなどは上昇し続けますので、
      国内の株式投資指数(TOPIX)と同じ運用ルールで運用しています。<br>

      値下がりのリスクについては、複数の銘柄を保有することで分散投資効果が働き、
      損失を回避するという考え方があります。<br>
      分散投資効果とは、ある銘柄単体で保有していた時に発生しうる損失を別の銘柄の株価上昇によって帳消しにするという考え方です。<br>
<br>


      <h3>インカムゲイン</h3>
      キャピタルゲインの他にも、売らなくても保有しているだけでもらえる配当金や株主優待などもあります。<br>
      事前に定められた時期に株式を保有していると金銭(配当金)や商品券などがもらえる(株主優待券)制度です。<br>
<br>
      ところで2016年5月時点の銀行預金の金利は0.01%程度です。<br>
      定期預金でも0.2%行けば良い方でしょう。<br>
      しかし、株式の配当金は株価に対する割合として、日本の平均値2%と銀行預金の200倍もあります。<br>
      当然値下がりリスクもあるので単純に確実な収益ということは難しいでしょうが。<br>
<br>
      桐谷さんという生活のほとんどを株主優待に頼っている方もいらっしゃいます。<br>
      それだけ幅広い商品やサービスが優待券として存在していることがわかるかと思います。<br>
<br>

      <h3>債券運用との違い</h3>
      株式ではなく、債券を運用する際にもインカムゲインとキャピタルゲインの両方を得ることができますが、
      債券運用は株式運用と異なる点がたくさんあります。<br>
      株価は大きく買われたりするので株価がよく動きますが、債券価格はそこまで大きく変わりませんので損益の幅も株式より小さくなります。<br>
<br>
      また債券は株式とは異なり発行している企業数が少ないので、企業数＝銘柄数という観点での分散投資をしづらいという違いもあります。<br>
      逆に言うと株式運用は債券より分散投資しやすいというメリットもあります。<br>
      ※債券の場合は株式と違って、満期の異なる債券を複数発行できるというメリットもあります。<br>
<br>
      <h3>株式投資は危険か</h3>
      株式投資は価格変動が大きくリスクが大きくギャンブルのようなものだと考えがちです。<br>
      確かに企業が倒産したら株券は紙くず同然になります。<br>
      しかし、証券取引所に上場している4000銘柄のうち、倒産企業は毎年数社程度です。<br>
      特に東証一部上場企業に関して言えば、まず上場するのに経営体制や利益構造、財務体質などを厳格にチェックされるので
      国内の他の市場よりは倒産確率は低くなります。<br>
      また上場企業は全て四半期ごとに定期的な財務諸表を好評し、
      業績の変動があれば公表する義務を負っているのでこうした点をチェックしていれば
      倒産する銘柄に投資を抑えることもできます。<br>
<br>
      総じて、こうした点に気をつけていれば
      ギャンブルのように偶然性にのみ結果が左右されることもなくリスクを全く予期できないことはないので、
      株式投資はギャンブルのように危険かという質問に対しては違うと言えます。<br>
<br>
      <h3>株式投資家への優遇制度:NISA(ニーサ)</h3>
      政府は景気回復を狙って国内の企業の株価を少しでも下支えしたいという動機が働くので
      投資家を優遇する傾向にあります。<br>
<br>
      その良い例が少額投資非課税NISAです。<br>
      NISAとは１年間に100万円以下の売買までは通常10%以上する所得税をタダにするという制度です。<br>
      これは非常に大きく、考え方を変えたら支払わなければならない税金をもらっているようなものなので、
      100万円の投資をしたら10万円をもらっているようなものです。<br>
<br>
      株式投資で10%の値上がりを毎年タダ当然で利益としてもらうことは本当に大変です。<br>
      今はそれができるので株式投資をやらないことはこうした特典の機会損失になっています。<br>
<br>

      <h3>経済に敏感になる</h3>
      お金を増やすための投資とはいえ、自腹で財布からお金を払って何かを買うという行為と
      買った銘柄をどのタイミングで売るという一見単純な行動は
      何かの物事に参入する時期を見据え、慎重に準備して仕込み、最後に時期を見て出口を探すという、
      全てのビジネスに共通する基本的行動です。<br>
      経済を知り、その企業と業界を分析し、相場を知り、取引参加者や市場全体の強気弱気を知ることは
      買うタイミング、売るタイミングをより適切なものにします。<br>
      また銀行や証券会社などの金融機関に就職する方には絶対に知っておくべき必要最低限の知識とも言えるでしょう。<br>
      入社前に人事部から投資に関する知識を学ぶことを推奨されていなくても
      予習をしておくかどうかで入社後には同期との実力差は歴然としたものになります。<br>
<br>
      これは新聞を読んだり、ウェブで情報収集するだけでは足りないかもしれません。<br>
      世の中には価値ある情報は有料であったりするのでこうした情報に触れる接点を増やすことも一つのメリットになります。<br>
<br>
      <h3>生活を豊かにする</h3>
      世の中は何をするにも必要になるものがあります。<br>
      食べ物を買う、家賃を払う、子供を育てる、学校に入れる、塾に通わせる、何をするにもお金がかかります。<br>
      生活を豊かにするためにはお金が必要になりますが、残念ながら自分の時間と肉体を使って働いてもらう給料は時間も能力も限られているためどうしても増やしづらいです。
      <br>
      投資するといことは、自分の時間と肉体を使って働いてもらったお給料を銀行に預けて眠らせるのではなく、
      お金に起きてもらって企業の従業員や機械に投資することで働いてもらい、時間や給料の制約を外してリターンを得るということです。<br>
<br><br><br>
      <%= link_to 'SBI証券で口座を開く', '/study_pages/intermediate/apply_sbi' %>
    </div>
  </div>
</div>
