<% title = '株式の仕組み' %>
<% set_meta_tags title: title %>
<%= "開発版：#{@path}" if Rails.env.development? %>
<% breadcrumb :study_stockmechanism %>

<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         <%= title %>
       </h1>
     </div>
     <div id="studyindex">
      <%= render 'layouts/study_elementary_stock_trade_index' %>
    </div>
    <div id="studycontents">

      <h2>
        投資、株主、配当金、株式市場、売買
      </h2>

      前ページで説明したように、株を購入するとは株式会社の所有者になるということです。<br>
      また所有者は、株券の保有率に応じて会社で得た利益をもらうこと(還元)ができます。<br>
      即ち、株式会社の所有者であると同時に、その会社のビジネスモデルや経営理念に対して一定の共感をし、
      お金の面で経営支援を行っているという意味において、投資家であると言えます。<br>
      投資家はタダでお金をあげるわけではなく、そのあとの見返りも期待しているので
      その具体例として、配当金というものがあります。<br>
      例えば、2016年5月時点では、トヨタ株を一株保有していれば200円もらうことができます。<br>
      2013年頃から2016年現在までの3年間でトヨタ株は一株6,000円前後で推移しているので、
      利益率は3%以上(200/6000)になります。<br>
      これは最近の銀行の利子率が0.001%に比べると3000倍に相当し、
      投資家という観点では銀行に預けるという投資行動よりも、株式はとても良い投資先であるように思えます。<br>

      <div class="studytips">
        特定の企業の話が出てきましたが、このようにトヨタやMUFGなどの特定の企業の株を指す場合は銘柄と呼びます。
      </div>

      では、どんな場合でも銀行に預けるより、株に投資する方が好ましいかと言われると必ずしもそうとは限りません。<br>
      一般に、株は株式市場で売買されています。<br>
      株式市場とは、株を購入したい人と売却したい人をマッチングして売買する場所です。<br>
      例えば、日本証券取引所として合併した、東京証券取引所や大阪証券取引所などがあります。<br>
      世の中には、たまたまそのタイミングでお金が余っていて投資先を考えている投資家と
      その株を保有しているよりも良い投資先や、別の用途に資金を活用しようと考えている投資家など、
      様々な投資家がいてそれぞれの思惑で株式市場で株を売ったり、買ったりしているのです。<br>
      買いたい投資家と売りたい投資家の割合は常に一定とは限りませんので、
      その時々に応じて、買いたい投資家が多ければその株への需要が高まり、株の値段である株価は値上がりします。<br>
      逆に売りたい投資家が多ければその株への需要は低下し、株価が下がります。<br>
      例えば、投資家の中には、株を購入するよりも工場を建設して人を雇用して商品を作って売った方が利益になると考えている人もいますし、
      他の株を購入したいと考える人もいるでしょう。<br>
      このように、別の投資先が魅力的だと思えば今持っている株を売却しますし、
      売却する投資家が多くなれば株価は下がりします。<br>
      株価が下がれば、当然購入した金額より安く売らざるを得ないので
      配当金と売却額を合わせても投資金額を回収することができなくなる可能性があります。<br>
      <br>
      貯金であれば銀行が潰れない限り、貯金が減ることはほぼありません。<br>
      しかし、株は株式市場で日々売買されることで株価が変動するため、
      売却時に利益にあることもあれば、損失になることも起こりうるのです。<br>
      これが世の中にはどんなことでもリスクとリターンは裏表の関係にあると呼ばれる所以です。<br>

      先の例で言えば、販売予定の商品が売れ残って工場の建設費が無駄になってしまうこともありますし、
      他の株を購入してもその会社の業績が悪くなって株価が下がることで投資金額が無駄になってしまうこともあります。<br>
      このように他の投資先よりも良い投資先かどうか考えた時、その株にどれだけのリスクがあって、
      そのリスクをどこまで許せるかをリスク許容度と言います。<br>
      それぞれの投資家のリスク許容度に応じて、その株への需給が変化し、
      株式市場で買われたり、売られたりすることで、株価が変動するのです。<br>


      <BR>

      市場原理<br>
      ・需給<br>
      ・買い手<br>
      ・売り手<br>

      前ページで、株式市場で買い手と売り手の思惑(需給)に応じて売買されて株価が変動すると説明しましたが、<br>
      ではなぜ、買われれば株価が上昇するのでしょうか。<br>

      一般的に、希少価値が高くなればモノの値段は上がると考えられています。<br>
      誰か特定の人が株の購入と売却の度合いを計測して価格を決めているわけではありません。<br>
      この仕組みを次のページで説明します。<br>

      <br>
      <%= link_to '取引の仕組み', '/study_pages/elementary/tradeMechanism' %>
    </div>
  </div>
</div>
