<!-- seo -->
<% title = 'なぜ投資か' %>
<% set_meta_tags title: title %>
<% breadcrumb :why_you_invest %>

<%= "開発版：#{@path}" if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         今投資をすべき１０の理由
       </h1>
     </div>
     <div id="studyindex">
      <%= render 'layouts/study_elementary_stock_trade_index' %>
    </div>
    <div id="studycontents">
      <% purpose='目的:
      興味は持っているが実際にやるところまで気持ちが固まっていない人がこのページを開いて
      株式投資を実施しなくてはいけない理由を顕在化させる' %>


      <h2>なぜ今、株式投資か</h2>
      今、あなたはなぜ株に興味を持ったのでしょうか。<br><br>
      まずはその理由を明確にしましょう。<br><br>
      もし、サラリーマンとして将来の収入に対して漠然とした不安感をお持ちで
      その対策として株式投資を選ばれたのであれば、<br>
      すでに半分は正解していると言えるでしょう。<br><br>
      もう半分は何でしょうか。<br><br>

      <br>
      株式投資は長い道のりです。<br>
      <br>
      理由なしに進むことができないくらい辛い道のりを歩まなければならないこともあるでしょう。<br>
      <br>
      漠然とした不安を抱えたまま、確信なく株式投資をするには危険すぎます。<br><br>
      株式投資は長いマラソンのようなものです。<br>

      <br>
      マラソンをしていると途中で挫折しそうな時があります。<br><br>
      足や腰が痛くなったり、ライバルに抜かれたり、途中で転んだりすることもあります。<br>
      長いことを走り続けて何万、何十万と同じことを繰り返しているうちに、効率的な足の上げ方がわからなくなることもあります。<br>
      <br>
      そんな時になぜ自分はマラソンをしているのか<br>
      マラソンをすることでどんなメリットがあるのか、<br>
      逆にマラソンをしないとどんなデメリットがあるのか、<br>
      これらの動機により走り続けた結果、やがて来るゴールを引き寄せます。<br>
<br>
      皆さんが株式をやりたいと思った動機は何でしょうか。<br>

      <br><br><br>

      株に限らず、為替、投資信託、債券、コモディティ、不動産など、
      人が投資をするには様々な動機があります。<br><br>
      人によっては給料が安すぎるから。<br>
      <br>
      人によっては余ったお金を増やしたいから。<br>
      <br>
      人によっては勉強したいから。<br>
      <br><br>
      証券会社に入るために勉強したいからという人もいるでしょう。<br>
      (個人的に証券会社に入りたい人であれば必ずご自身が入社したい会社の証券口座を開設しておくことをお勧めしておきます。)<br>
      <br>
      結婚を機に資産形成を本気で考えたいという人もいると思います。<br>
      <br>
      また子供が生まれて将来の教育資金にしたいという考えもあるでしょう。<br>
      <br><br><br>

      でもちょっと待ってください。<br>

      果たしてこうした不安を抱えたまま、解決するという確信を持たずに株式投資を始めてもいいのでしょうか？<br><br>
      <br>
      ここでは皆さんが抱えている漠然とした不安を整理して、なぜ株式投資が的確な解決策になるケースとそうではないケースに分類して、
      一つ一つ整理していきたいと思います。<br>

      <br><br><br>
      2000年代前半から、国が貯蓄から投資へというスローガンを声高に叫ぶようになりました。<br>
      実質的には金融庁が打ち出したものですが、
      これは国が株式市場を支えるためという意見もある中で
      本当の趣旨は労働だけでは安定的な収入を確保することがむずかしくなるという国の諮問機関からの要請でもありました。<br>
      戦後、国の経済は右肩あがりに成長し、国民は労働者として一生懸命頑張るだけで報われる時代もありました。<br>
      高度経済成長期などが顕著な例です。<br>
      しかし、現在、日本経済は複数の構造的な問題が抱えています。<br>
      国の問題というのはその国に住む国民やそのお財布事情、つまりは皆さんの家計に直結する問題となります。<br>
      日本経済や国民がどのような問題点を抱えていて、なぜその対策として株式投資が必要なのでしょうか。<br>
      <br>
      株は今や富裕層が余裕資金を運用するための投資先ではありません。<br>
      また株式投資と一口に言っても様々な運用スタイルが存在します。<br>

      株式のリスクを十分認識し、そのリスクを回避する上手な方法を知った上で
      自らの不安を整理し、その不安を解決するための株式投資の方法を選んで実践すれば
      投資自体のリターンを十分享受することができるでしょう。<br>
<br>
<br>

      <h3>日本経済が抱える問題点</h3>
      日本経済が抱える構造的な問題のキーワードとしてインターネットの発達、幾度のバブルの経験と企業の利益構造の変化、晩婚化、成熟社会、
      長時間労働、女性の社会進出、学歴格差、地域格差、性別格差、世代格差などがあります。<br>
<br>
      <h4>低賃金</h4>
      昨今ブラック企業や低賃金労働などが問題視されています。<br>
      しかし、大企業の利益自体はそんなに悪くありません。むしろ以前より増収増益となっているところも少なくありません。<br>
      一部の大企業の利益自体は安定しているものの、それが労働者の給料を増やすことにつながらないのはなぜでしょうか。<br><br>
<br>

      ここ数年、インターネットの発達とフェイスブックなどに代表されるグローバルなIT企業の台頭により
      世界中の情報が誰でも簡単に手に入れられるようになりました。
      またもっと長い目で見ると近代化や貿易の発展により国と国の結びつきが強くなることで
      地球の裏側で起きた事態が直接、日本企業の業績に影響を及ぼすことが多くなりました。<br>
      <br>
      インターネットと同時に日本ではスマートフォンの普及は国民の意見を増幅させることにもなっています。<br>
      コミュニケーションツールの発達により
      それまでリアルのつながりしか持てなかった人々がオンライン上で繋がることで自分の意見を主張し、共感させることができるようになったからです。<br>
      その代表例がtwitterなどのSNSでしょう。<br>
<br>

      その結果、ちょっとした企業の不祥事が一瞬で共有され、急激な業績悪化に繋がることも多くなりました。<br>
      こうしたことに加え、ここ数十年で見ると日本経済は幾度のバブルを経験し、
      企業が利益を上げても労働者に対して賃金を払うよりも手元にキャッシュを置いておきたいという不安感が作られてしまいました。<br>
<br>
      一時的な業績悪化で労働者全員の首を切る倒産という最悪の事態を避けるためには
      賃金を上げないという選択肢はある程度仕方ない判断なのかもしれません。<br>
      <br><br>
      <h4>少子高齢化</h4>
      一般に成熟した国の宿命として、子供の数が少なくなりがちです。<br>
      それは様々な要因が影響しているのですが、
      例えば経済が成熟した結果、長引く低成長によって働き盛りである結婚や育児世代の勤務時間の長期化、
      低賃金世帯の増加によって育児に対する姿勢が消極的になってしまうということもあります。<br>
      また急激な女性の社会進出によって出産しづらい世の中になったということも考えられるでしょう。<br>
      女性の社会進出は労働力の確保や女性の社会的地位向上という見地では良いことかもしれませんが、
      現状の女性活用方法自体が少子化という流れの中では必ずしもプラスに働いてはいません。<br>
      女性の社会進出を後押しするのであれば、日本という国、特に地方経済を支えるための施策も同時に行わなければならないでしょう。<br>
      <br>
      こうした問題により発生する少子高齢化社会を生き抜く20代、30代は将来国からもらえる給付金などは期待しないほうが良いでしょう。<br>
      今の給付金を維持するためにはより高いコスト、例えば20%ほどの消費税や40%以上の所得税が課せられることになるかもしれません。<br>
      今の日本の高齢者福祉が成立しているのは若者が払った将来のための年金や税金を彼らの福祉事業や給付金にそのまま充填しているからに他なりません。<br>
      そのため、将来の物価などを考慮すると支払った金額に対してもらう給付金や福祉制度のサービスの質は限りなく低くなります。<br><br>
<br>
      <h4>格差問題</h4>
      格差と言っても様々な格差があります。<br>
      学歴格差、地域格差、性別格差、世代格差などです。<br>
      同じ能力を持ちながら家庭の事情や世帯収入によって学力にばらつきが生じることがあります。<br>
      高学歴によって大企業にはいり、その後安定した生活が送れる人と同じ学力を持ちながら
      親世代の収入によって高卒で低収入となることもあります。<br>
      また都会と地方では賃金にばらつきがあることに加え、
      接する人や情報の質や量がかなり異なることは事実です。<br>
      地方で稼ぐ能力がある人もいますが、同じ能力で地方と東京、大阪、名古屋に働くのでは明らかな収入の格差が生じるでしょう。<br>
      その他、男性と女性の賃金格差や職種、役職差別などは今だに根強く存在していますし、
      働き盛りの時代の経済情勢と資産格差や年金などのセーフティネットの制度は目に見えない格差を生み出しています。<br>
      少し前の話題でいうと、子育て給付金を縮小し、高齢者給付金の増額などはまさに顕著な例と言えるでしょう。<br>
<br>
      私は働いた量に応じて収入格差が生じるのは問題だとは思いません。<br>
      ただ同じ条件で同じ能力の人が同じ量だけ働いても上記のような学歴や地域、性別、世代によって格差が生じてしまうのは紛れも無い事実なのですが、
      解決できない問題として残っていくと思います。<br>
      <br><br>
      今後、多くの産業で今までの仕事が自動化され、多くの仕事はなくなったり、激変するでしょう。<br>
      そうした時にあなたが今やっている仕事の将来はあるのでしょうか。<br>
<br>
      株式に投資するとはこうした格差を是正し、将来をある程度明るくするためのものでもあります。<br>
      例えばトヨタの社員と末端の町工場で働いている人がいたとして両者の経済的格差は確実にありますが、
      そうした人がトヨタの社員になることは難しいかもしれません。<br>
      しかし、１万円もあればトヨタ株に投資することができます。<br>
      トヨタ社員でなければ企業から安定した給料や成長に応じてアップする賃金をもらうことはできませんが、
      トヨタ株に投資すれば１万円をトヨタという企業の成長によって増加する株価の恩恵を得ることができます。
      逆にトヨタという企業であれば株主への恩恵を大事にする傾向があるのでトヨタに就職するよりもトヨタ株に投資した方が効率が良いと言えるかもしれません。
      しかも、労働者とは違って時間をかけることなく、です。<br>
      <br>
      もう一度聞きます。<br>
      <br>
      なぜあなたは投資という分野に興味を持ったのでしょうか。<br>
      仮に興味を持っていなくても、なぜあなたはこのページを開いたのでしょうか。<br>

      上記のような不安は単なる可能性ではなく、紛れもない事実です。<br>
      経済の専門家や国の諮問機関がこうした年金財政の破綻や人口減小に対して指摘しているのは
      単なる不安心を煽るためではないのです。<br>


      ではこうした不安が確実であるとわかったらどうすべきでしょうか。<br>
      <br>
      <br>
      答えは対策を立てるしかありません。<br>
      皆さんは数ある対策の中で株式という選択肢を思いつき、このページを開きました。<br>
      最初にほぼ半分正解していると書いたのはここまでの動作が正しいという意味です。<br>
<br>
      ここから最後まで正解するか否かは実際にこの後の行動を実践できるかどうかだけです。<br>
<br>
<br><br><br>

      ここまで、お金に対する不安は単なる可能性ではなく、今後あなた自身の身に確実に起こりうる事実なのです。<br>
      <br>
      世の中お金ではないという人もいるかもしれませんが、<br>
<br>
      否定できない事実として、誰でもお金なしに生活することはできません。<br>
<br>
      間違いなく、お金は必要です。<br>
<br>
      大部分の人は、結婚、出産、育児、小中高大の進学、就職活動、社会人の付き合い、
      結婚、出産、家の購入や賃貸、引っ越し、退職、離別、葬式、就活、相続など
      様々なライフスタイルでお金が必要になってきます。<br><br><br>

      <br>
      また、今、あなたが親であれば、子供に良い教育を受けさせたくて、中学から大学まで私立の学校を選んだ場合、一人のお子さんを育てるためには1000万円以上の教育資金が必要になります。<br>
<br>
      参考<br>
      <tr><th>学校</th><th>パターン</th><th>必要経費</th></tr>
      <table class="ranking">
        <tbody>
          <tr><th>幼稚園 ～ 高等学校</th><th>パターン</th><th>合計</th></tr>
          <tr><td>すべて公立</td><td>(公→公→公→公)</td><td>553万円</td></tr>
          <tr><td>幼稚園だけ私立</td><td>(私→公→公→公)</td><td>646万円</td></tr>
          <tr><td>高等学校だけ私立</td><td>(公→公→公→私)</td><td>692万円</td></tr>
          <tr><td>幼稚園及び高等学校が私立</td><td>(私→公→公→私)</td><td>785万円</td></tr>
          <tr><td>小学校だけ公立</td><td>(私→公→私→私)</td><td>1012万円</td></tr>
          <tr><td>すべて私立</td><td>(私→私→私→私)</td><td>1663万円</td></tr>
        </tbody>
      </table>

<br><br>
      お子さん一人学校を行かせるだけでこれだけの費用がかかるのです。<br>
      皆さんの中にはお子さんが二人以上いらっしゃる方や、将来的に欲しいという方もいるでしょう。<br>
      二人とも私立なら2000万円が必要です。<br>
<br>
      それだけではなく塾や習い事をさせて将来の可能性を広げたり、バイオリンやバレーを学ばせたいという親御さんもいるでしょう。<br>
<br>
      今の世の中、普通のサラリーマン家庭で2000万円以上の貯金がある方はいないです。<br>
<br>
      これらの教育資金に加えて、生活するためにの食費、賃貸であれば家賃、分譲であればローンの支払いもあります。<br>
<br><br>


      今の時代大企業も簡単にちょっとした事件や不祥事、業績の低迷であっという間につぶれてしまう世の中です。<br>
<br>
      90年代の山一證券や北海道拓殖銀行などの大手証券や銀行の破綻、
      バブル期は超優秀なメーカーと誰もが思っていた東芝やシャープでさえ日本の構造変化についていけず業績が傾いてしまいました。<br>
      企業価値が低くなった会社は今後中国資本による買収が進み、突然の大規模なリストラを余儀なくされるでしょう。<br>
<br>
      あなたの会社が将来突然倒産しないとも誰もが言い切れない時代です。<br>
<br><br>

      組織の中の1セクションにとどまっていて潰しが利かない仕事をしている傾向にある大手の超優良企業の社員ほど危ないと思っています。<br>
<br><br>

      自分は大丈夫だと果たして本当にそう言えるでしょうか。<br>
<br>
      30歳以上になると、転職市場では専門職や余程の能力の高いスキルをお持ちでない限り市場価値は限りなく低いです。<br>
      それがたとえ大手企業に長年勤めていたとしても、です。<br>
      転職先企業はそんなこと一切に気に留めません。<br>
      だから大企業にいる社員ほど危険な時代だと言えるのです。<br>
<br>
      さらに言うと、日本は現在世界の成長の追い付いていけません。<br>
      生産人口減少、アジア諸国の成長による外国からの投資額低迷、日銀による金利引き下げによる今後さらなる預金金利低下など
      給料からもらえる日本円だけで貯金すると世界経済の成長率と日本の成長率の圧倒的な差分だけ遅れてしまいます。<br>
<br>
      つまりあなたはサラリーマンとして働いているだけで世界経済からどんどん追い抜かれてしまうのです。<br>
      寄らば大樹の陰で日本全国のサラリーマンが皆同じだからという理由で何も動かなければ
      それだけ遅れが生じてしまうのです。<br>
<br>
      ちょっと前まで中国は貧富の差が激しく、爆買いなどで我々が目にすることが多い中国人はそうした競争に買った富裕層なのだと思っていました。<br>
      しかし、彼らは中国の発展の恩恵で経済的恩恵を享受できた中間層なのです。<br>
      中間層が何十万もする時計や高級衣服や家電をバンバン買っていく姿を見て日本のこれからを想像できます。<br>
      すなわち、中国などに対して、経済力が衰え、国土や軍事費などで遅れをとっている日本は
      普通にくらしているだけで中国マネーの食物にされていくのです。<br>
<br><br><br>

<br><br>



      ではこうした事態に直面しながら、あなたはもしもの時に自分の身を守れるのでしょうか。<br>
      またはご家庭を持っている方は奥様を、お子様を守ることができるでしょうか。<br>
<br>
      目を閉じて、あなたのことを頼りにしている人の顔を思い浮かべて下さい。<br>
<br>
      彼らを路頭に迷わせることだけは何としても避けなければなりません。<br>
<br><br>

      では何をすべきか、<br>
<br><br>

      資本主義社会の上で、自らを守る唯一の手段は金融リテラシーです。<br>

      上記のような不安に対してなぜ、金融リテラシーを知ることが最適な解決法になるのでしょうか。<br>
      金融リテラシーの中には投資の実践ということも含まれます。<br>
      あなたが抱える不安に対して適切な投資スタイルというものを知り、
      実際に実践することが唯一の解決策になります。<br>

      闇雲に株式を購入しても失敗するのは目に見えています。<br>


      何も、株で何億、何十億と稼がないといけないと言ってるわけではありません。<br>
<br>
      読み書きそろばんと同じレベルで、金融に関する知識、スキルを持っておくことは
      もしもの時にご自身の身を、ひいてはご家族を守ることにつながります。<br>
<br>
      企業分析、チャート分析、相場の先読みなど
      これらは昔の読み書きそろばんに匹敵するぐらい重要なリテラシーとなりつつあります。<br>
<br>
      今は広大なウェブの中である程度の知識を身につけることができる時代です。<br>
<br>
      株をやるのに特別な才能は必要ありません。<br>
<br>
      現在の日本の経済情勢を鑑みて、気付いているはずの危機意識と真剣に向き合えば
      やるべきことは一つです。<br>
<br><br>

      それは、投資の世界で少しでも多くの場数を踏んで
      知識や勘を一つ一つ身につけ、経験値を蓄積することです。<br>
<br>
      そうすればいずれ自分の身を助ける術となるでしょう。<br>
<br>

      先ほど、中国人が日本のモノやサービスを買っていくと書きましたが、
      それ自体は私は悪いことだと思いません。<br>
      外貨を稼ぐことは日本経済を浮揚させることにつながるからです。<br>
<br>
      そうなった時にもう一度バブルが来る可能性があります。<br>
      となりの中国が発展することで日本事態に恩恵があるとしたら
      その時にも金融リテラシーがご自身を更に助けるでしょう。<br>
<br><br>
      <div class="studytips"
        <strong>金融リテラシーとは</strong><br>
        ここでいう金融リテラシーとは読み書きそろばんと同様に、
        生活していく上で最低限必要で自らの生活を潤してくれるものです。<br>
        具体的には、BS/PLなどの財務諸表の見方や企業分析、チャートの動きを把握し、相場を先読みするなどです。<br>
        これらは初めての人には難しいように思いますが、このサイトの中で一つずつ解説していきます。<br>
      </div>

      <br>
      ここまで読んでまずは証券会社に口座を開こうと思えるかどうかは最初の一歩を踏み出せるか
      ひいてはあなたの人生がここで終わるのか始まるのか。。<br>
<br>
      投資を始めるのに遅いということはありません。<br>
<br>
      <%= link_to '思い立ったら吉日。即日開設可能な証券会社はこちら。',
      '/study_pages/intermediate/apply_rakuten' %>
      <br>
      ※当日開設を行うためにはネットで登録して、スマホをお持ちな方であれば
      スマホで本人確認書類を写真撮影してウェブの登録画面上で撮影した写真を添付して登録ボタンを押すだけで即日口座開設完了できます。
    </div>
  </div>
</div>
