<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

    <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 col-md-offset-1 col-lg-offset-1">
      <h1>日本株ADRについて</h1>

      <br><br>
      <junre_title id="sample03"> 概略 </junre_title>
      海外にいる投資家が現地にて現地通貨で仮想的に他国の株式を売買する証券を預託証券(DR:Depositary Receipt)と言います。
      <br>
      仮想的にというのは、売買する証券の価値がおおもとの株式の存在価値を裏付けとしているため、その証券の価値は元の証券の値動きと等しくなり、預託証券を売買することで企業が発行した株式を売買するのとほぼ同じ行為となるためです。<br>
      海外の投資家は自国にいながら他国の株式を自分の通貨で購入することができるという長所があります。

      <br>
      ADRはアメリカで作られた預託証券(American Depositary Receipt)であり、例えばアメリカ人が日本のトヨタ株を取引する際に、わざわざ為替取引所でドルを円に交換して日本の証券会社でトヨタ株を発注することなく、
      トヨタのADRが取引されているニューヨーク証券取引所で自国通貨のドルで購入できるというメリットがあります。
      <br>
      このメリットを解説するためにADRを使った一般的な取引について説明します。

      <br><br>
      <junre_title id="sample03"> 裁定取引 </junre_title>
      先の例では、トヨタの預託証券を購入すれば需要と供給の関係で価格が上がり、その結果、トヨタの発行株式(原株)の値段より高くなったとします。<br>
      預託証券を発行した側(アメリカ国内の銀行)としては、そもそもトヨタ原株の値段で購入して保有しており、その取得したコストは原株の値段であるため、自身が保有している預託証券を原株と同じ値段になるまで売ることで利益が出酢ことができます。<br>
      逆も然りで、預託証券が売られて原株の値段より安くなれば原株を売却して市場にある預託証券を購入するインセンティブが働きます。<br>
      このように、原株と預託証券の間に働く価格調整機能により、預託証券と原株はほぼ同じような値段となります。

      こうした価格差に着目して取引することを裁定取引と呼びます。

      <br><br>
      <junre_title id="sample03"> 預託証券のメリット </junre_title>
      預託証券と原株の間の裁定取引により、本来アメリカで日本株を購入できなかったアメリカ人が購入することができるようになるという、購入者側のメリットが存在します。
      預託証券が存在することで、原株と預託証券を合わせた出来高は大きくなります(流動性の供給)。<br>
      取引が多くされるほど、(預託証券と原株の)値段はその株式を発行した企業の価値をより正確に反映することに繋がります。<br>
      逆に取引がされない企業の株式は値段が動かないことを想像すれば分かりやすいと思います。<br>
      ADRの存在により、全体の取引量が多くなり、市場に流通している株式が企業の本質的な価値、すなわち適正価格に収斂していくことにより、市場の健全性を保たれることになります。
      (逆に企業の価値を表していない株価が取引されている市場には誰も手を出しませんよね)<br>
      一部の流動性の供給は、市場における資金の流れの活発化に繋がります。<br>
      これは株式を発行した企業の側のメリットであると同時に、株式が上場している市場、さらに米国の株式市場の流動性の供給という３者が恩恵を享受することができることを示しています。

      <br><br>
      <junre_title id="sample03"> 預託証券を発行している銀行 </junre_title>
      BNY Mellon, Citi Bank, Computershare Trust Co., Deutsche Bank, J.P. Morgan Chase<BR>


      <junre_title id="sample03"> 種類 </junre_title>
      <junre_title id="sample03"> 手続き </junre_title>
    </div>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <%= render 'layouts/sidebar' %>
  </div>
</div>
