<% feed_time = Time.at(@feed.feed_id.to_i) %>


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-1 col-lg-10 feed_content">
    <%= link_to @feed.title + " : " + feed_time.strftime('(%Y年%-m月%-d日 %H:%M)'), @feed.link %>
    <br>
    <!-- brタグを有効にするためsimple_format -->
    <%= simple_format(@feed.description) %>
    <br>


    <b>他に見られている記事</b>
    <br><br>
    <!-- 関連フィード -->
    <% related_article_ids = similar_article(@feed.id) %>
    <% related_articles = Feed.where(id: related_article_ids) %>

    <!-- 理想：tfidfでスコアリングした文章をベースに高いスコアのワードで共有 -->
    <% if related_articles %><!-- nilではないことを確認 -->
      <% related_articles.each do |related_article| %>
      <div class="related_feed_cell">
        <b><%= link_to related_article.title, related_article %></b>
        <%= simple_format(related_article.description) %>
        <br>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-1">

  </div>
</div>
