<!-- seo -->
<%= set_meta_tags title: '公募とは' %>
<%= breadcrumb :about_po %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         公募とは
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">

      <h4>公募とは</h4>
      一般に「公募・売出し」と呼ばれますが、
      公募と売出しは意味が異なります。<br>
<br>
      公募とは、正式には公募増資と呼び、
      これは株式会社が新たに株を売り出すことを言います。<br>
      正確には、新たに株式を発行して、それを広く市場参加者に売ることを公募増資と言います。<br>
      <div class="studytips">
        公募増資とは、広く一般に(50名以上の不特定多数の)株主を募集する新株式の発行形態。<br>
        逆に50名未満の特定の投資家に対して新規株式を発行することを「私募草紙」と呼びます。
      </div>
<br>
      公募の<strong>メリット</strong>としては、<br>
      1.企業が工場を建てたり、新規事業を起こすためにオフィスを借りて人を雇う際、
      多くの資金を借金なしで調達できる。<br>
      2.総資産に対する自己資本(株式で調達した資金)の比率が多くなり、財務体質が改善する
      3.新規に株式を発行することで一株あたりの単価が低くなり、かつ発行株数が多くなるので
      市場での売買がしやすくなり、株主が増える。<br>
      4.一般に公募で投資家が購入する価格は、前日の価格より数パーセントほど低い金額で購入できるので
      投資家は安く株を購入することができる<br>
<br><br>

      一方で、<strong>デメリット</strong>としては<br>
      1.株価が安くなることで、既存の株主からすれば自分の資産が減ることになる。<br>
      2.既存株主が嫌がるので、売却が多くなり、株価が低下してしまう。<br>

      <div class="studytips">
        企業の価値が変わらないのに、株数が多くなることを希薄化(dilution)と言います。<br>
        公募増資をすることにより増資した企業の株式価値は希薄化と言います。<br>
        例えば、増資後の株数が増資前に比べて２倍になったら、株価は単純に半分になります。<br>
        従って、結果的に株価が２倍になって株数が半分になるので、その銘柄の時価総額は変わりません。<br>
        時価総額が変わらないということはその銘柄の自己資本は変わらず、自己資本比率(総資産に対する自己資本の価値の割合)も変わらないので、
        財務体質が変わることもありません。
      </div>
<br><br>
<br>
      <strong>売り出しとは</strong><br>
      また、売り出しとは、すでに多くの株式を保有している大株主が不特定多数の投資家に
      自分が持っている株式を売ることを言います。<br>
      この時、公募増資と同様、売り出しに応じる投資家が支払う代金は
      市場で売買されている価格より数パーセントほどやすくなります。<br>
      公募増資との違いは、すでに発行されている株式を保有している大株主の持分を売却するだけで
      発行元企業が新たなに株式を発行するわけではないので、
      株価は低下せず、既存株主の資産が目減りすることもありません。<br>
<br>
      <strong>売り出しのメリット</strong>
      <storng>1.鞍替え上場要件の批准</strong><br>
      一部上場するためには、株主構成は広く分布すべきという制約があります。<br>
      例えば二部上場銘柄が一部上場銘柄になる(これを鞍替えと呼びます。)時、
      こうした株主構成の制約に抵触した場合、一部の大株の株を他の投資家に売りたいということがあります。<br>
<br>
<br>
      <strong>2.創業者一族の利益確保</strong><br>
      創業者が出資しあって作った会社の場合、株式の多くが創業者の手中にあるがあります。<br>
      株価が上がっていれば創業者としては株式を長く持っている理由はないので、
      株を売って現金化したいと考えることもあるでしょう。<br>

      <strong>売り出しによる市場への影響</strong><br>
      上にも書きました通り、ある銘柄が上場するために一部の大株主の株式を他の投資家に売ることになれば
      売買できる株数も増え(=流動性が上がり)ますし、
      将来的に鞍替え上場するのであれば株価が上昇します。<br>
      ここら辺は公募増資とは異なりますね。<br>

      http://money-magazine.org/公募増資・売り出し（po）の公募に応募するメリッ/
    </div>
  </div>
</div>
