<!-- seo -->
<%= set_meta_tags title: 'アナリスト' %>
<%= breadcrumb :analyst %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         アナリスト
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">

<strong>アナリストとは</strong><br>
株価分析の章でアナリストについて少し触れましたが、
そもそもアナリストとはどのような仕事なのでしょうか。<br>
<br>
アナリストという名称は日本語で分析者という意味ですが、
投資の世界でアナリストというと
株式や債券の投資業務の一環として必要な調査や分析を行う人という意味になります。<br>
<br>
しかし、アナリストと一概にいっても実際には３種類の仕事があります。<br>
<br>
株式価値の分析業務や将来予測を行う証券アナリスト、<br>
会社の債務状況や倒産確率などを分析する信用(クレジット)アナリスト、<br>
ファンドやファンドオブファンズ、投資信託、ポートフォリオの評価を行うファンドアナリストです。<br>
<br><br>
ここでは主に証券アナリストについて説明します。<br>
証券アナリストにも大きく二つに分けられます。<br>
商業銀行や信託銀行や保険会社などの運用系の会社に勤める証券アナリストの事を「バイサイドアナリスト」と呼び、
証券会社や投資銀行などに属する証券アナリストのことを「セルサイドアナリスト」と呼んで区別します。<br>
<br>
どちらも同じ仕事内容ですが、バイサイドのアナリストがセルサイドのアナリストから情報を取得することもあります。<br>
世間一般には、バイサイドアナリストよりもセルサイドアナリストの方が厳しいという評価があるようですが、一概には言えないかもしれません。<br>
ただ、そうしたバイアスを除いても、情報量はバイサイドよりセルサイドの方が多いという傾向があるようです。<br>
一般的にはセルサイドなどの証券会社のアナリストはレポートを書いて世間に対して情報を提供することで、
どれだけ、その証券会社の口座で株式の売買をしてもらえるかが求められます。<br>
一方でバイサイドは運用系の銀行などが、証券会社のバイサイドアナリストからレポートをもらったり、
直接企業のIR(業績広報)担当者に聞き込みに言って情報を教えてもらったりして、
獲得した情報をもとに社内の運用担当者(ファンドマネージャー)に報告し、
銘柄推奨を行うことで、いかに正しい情報かや将来予測を行えるかが求められます。<br>
情報を公表するような外向きに情報を得るのが証券会社にいるセルサイド、
情報を内向きに情報を購入するのがバイサイドという見方も出来ると思います。<br>
<br><br>
社内だけで評価されるバイサイドと、機関投資家から個人投資家まで世間一般で評価されてしまうセルサイド、
どちらも正しい情報や性格な将来予測を求められる職業ですが、評価される対象が世間か社内かという広さだけで評価するなら、
セルサイドの方が厳しい要求を求められるということなのかもしれません。<br>
<br><br>
<strong>アナリスト業務</strong><br>
ではアナリストは具体的にどのような仕事をしているのでしょうか。<br>
<br>
アナリストの分析作業や正確な将来予測という仕事は数字的な作業だけではなく、
その大部分は足で稼ぐことがメインになります。<br>
<br>
実際、アナリストの1日の仕事の多くは外出し、自分が担当する企業や関連子会社のIR担当者など
詳しい専門家に業績を確認して聞く作業がメインです。<br>
株価は決算期に特に大きく動くので、特に決算前後や業績下方もしくは上方修正した時などが外出が多いです。<br>
<br>
ただ単に外に言って聞くだけという作業は楽で簡単に聞こえるかもしれませんが、
IR担当者への質問に対する回答を正確に理解し、株価という変動性の高い値動きを正確に予測することは至難の技です。<br>
具体的にどうやっているかというと、
業界全体の景況感や政府による政策の影響、地政学リスク、輸出入や為替などの海外動向という周辺知識を全て正確に理解した上で、
取引先の業績からその企業の在庫の状態、売上高や原材料費の季節性及びその他の変動要因や
人事面では役員給与から従業員の給料、退職者の退職給付金など全てを足元の業績として網羅的に把握します。<br>
こうした多くのパラメータを理解できて初めて、業績担当役員やIR担当者と対等にヒアリングができるのです。<br>
担当企業のヒアリングの結果、足元の状況との乖離を踏まえ、全てのパラメータに対して将来予測を行い、
最後に、ファンドマネージャやトレーダーなど、株式市場に詳しい専門家と相談しながら、
株主構成や各株主のキャッシュフロー事情などを勘案し、株価の需給要因を捉え、最後に株価を予測します。<br>
仮にここで世間一般に認知されていないことを、公開情報としてアナリストが把握できた場合、
それが今後世間に広まるにつれて株価を動かすことになり、その運用機関は先回りして売買することができ、
顧客の利益につながります。<br>
<br>
これらを、アナリストが担当する企業に対して年に４回の決算期及び、随時発生する業績修正の度に行います。<br>
3月決算銘柄などは5月中旬の業績報告の前にこうした作業を一人数十銘柄行うことになるので、
分析の正確さはもちろん、分析業務の早さと体力が求められます。<br>
<br>
具体的な分析作業としては、上記のような各パラメータ構成は担当する各企業ごとに異なりますし、
時々刻々と利益構成や財務事情などは変わってくるので、全ての作業を説明できたわけではありませんが、
共通する分析作業はこんなところです。<br>
<br>
分析方法については別のページで行います。<br>
<br>

<div class="studytips">
<strong>アナリストのキーワード</strong><br>
機関投資家、分析、レーティング、企業訪問、決済前、バイサイド、セルサイド、ファンドマネージャー、株価予測、アノマリー<br>
証券アナリスト、ファンドアナリスト、クレジットアナリスト
</div>
<br>
ファンドアナリスト、クレジットアナリストなどは別のページで説明します。<br>


    </div>
  </div>
</div>
