<% title = '雇用統計と日本株' %>
<% set_meta_tags title: title %>
<% breadcrumb :current_employment_statistics %>

<%= "開発版：#{@path}" if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         <%= title %>
       </h1>
     </div>
     <div id="studyindex">
      <%= render 'layouts/study_elementary_stock_trade_index' %>
    </div>
    <div id="studycontents">
      <h2>雇用統計とは</h2>
      投資家が雇用統計と言った場合、主にアメリカの労働市場における雇用状況に関する指標を指します。
      つまり、働いている人（労働者）全体の人数の時系列的な変化や業種ごとの変化を見るための指標です。
      この指標はアメリカ経済の実態を表す、世界で最も注目される指標の一つと言われ、
      それゆえに株式市場、債券市場、為替市場など多くのマーケット参加者が固唾を飲んで発表を見守っています。

      この指標はアメリカの労働省が毎月一週目の金曜日（第一金曜日）に発表されます。

      <div class="studytips">
        <strong>雇用統計が発表される夜</strong>
        注目度ゆえに世界中の金融機関がこの発表のためにポジション調整を行います。
        特に日本では発表時間が週末の夜になるので、業務時間が終わってからトレーダーやディーラーなどの
        相場に関わる人々がビールやおつまみを持ちよって今か今かと待ちわびて
        発表された瞬間には自分のポジションの増減を確認します。
        それゆえ、この瞬間に世界中でポジション調整が行われ、株価、為替などが大きく動くのです。
        特に日経平均株価のナイトセッションはこの瞬間に大きく変化するので、売買する人は特に注意が必要ですし、
        逆に変動を予測したら大きく利益を上げることができます。
      </div>



      <div class="studytips">
        <strong>雇用統計はアメリカ以外にもある？</strong>
        全世界の国々がこの雇用統計と同様、労働状況に関する指標を発表していますが、
        中でもアメリカの雇用統計が最も重要であると呼ばれています。
        ーー
        様々なマーケットの中で、特に為替市場に与える影響が非常に大きく、また世界的にも注目されています。


      </div>
      <h2>構成と影響</h2>
      一口に雇用統計指標と言っても、具体的には10項目以上の個別の指標から構成されています。
      この10数項目の中でも、特に、非農業部門雇用者数、失業率という2つの項目が注目されています。
      ニュースなどで取り上げられるのもこの２指標のみということもあります。
      為替や株価に大きな影響を与えるのは、これらの２指標に対する事前の予想と実際に発表された値の差分です。
      事前の予測値と発表値で大きな差額が出ることもあり、そうした場合に市場が大きく動きます。
      逆に前回の発表値から大きな変化であったとしても、この予想値との乖離がなければマーケットは大きく動きません。

      したがって、為替、株式、債券の市場関係者はこの月一回の大イベントに対して市場予測との乖離を予想してポジションを調整するので
      それゆえ市場に大きな影響を及ぼすとともに、証券会社やFXなどの会社の業績も左右するぐらいのインパクトになることもあるので、
      月１のお祭りと表現するところもあります。



      <h2>日本時間</h2>
      アメリカはサマータイムと言って、経済全体が季節によって時間を変えていますので、
      日本時間でいうと、毎月第一金曜日の以下の時間帯になります。

      <table class="securities_table">
        <tbody>
          <tr><th>季節</th><th>発表日</th><th>発表時間</th></tr>
          <tr><th>4月〜10月</th><th>毎月第一金曜日</th><th>21時半</th></tr>
          <tr><th>11月〜3月</th><th>毎月第一金曜日</th><th>22時半</th></tr>
        </tbody>
      </table>


      <h2>日本にとっての雇用統計の意味</h2>
      雇用統計はアメリカの雇用環境に関するものだからと言って私たちには関係ないのでしょうか。

      実はそんなことありません。

      まずアメリカの雇用環境が日本にどのように影響を及ぼすか


      <h3>景気の連動性</h3>
      先進国の連動、主要通貨、

      <h3>経済観測と実態の乖離の解明</h3>
      投資家やアナリストなどは常に実体経済を観測していて
      今の経済の強さからすると株価はこのぐらいが妥当だという予測をしています。
      <h3>美人投票</h3>
      テクニカル面での
      増幅器の役割
      ましてや経済指標の中で最も重要な指標

      <h3>中央銀行の政策観測</h3>
      fedウォッチャーという人々

      <h3>実需面での影響</h3>
      マーケット、ナイトセッション
      雇用統計の指標自体の重要性についてはあらゆる経済指標の中でも特に重要な指標であると述べましたが、
      それゆえにマーケット参加者の注目を集めます。
      したがって、

      <h2>影響</h2>

    </div>
  </div>
</div>
