<% title = '雇用統計と日本株' %>
<% set_meta_tags title: title %>
<% breadcrumb :current_employment_statistics %>

<%= "開発版：#{@path}" if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         <%= title %>
       </h1>
     </div>
     <div id="studyindex">
      <%= render 'layouts/study_advanced_trade_technique' %>
    </div>
    <div id="studycontents">
      <h2>雇用統計とは</h2>
      投資家が雇用統計と言った場合、主にアメリカの労働市場における雇用状況に関する指標を指します。<br>
      つまり、働いている人（労働者）全体の人数の時系列的な変化や業種ごとの変化を見るための指標です。<br>
      この指標はアメリカ経済の実態を表す、世界で最も注目される指標の一つと言われ、
      それゆえに株式市場、債券市場、為替市場など多くのマーケット参加者が固唾を飲んで発表を見守っています。<br>
<br>
      この指標はアメリカの労働省が毎月一週目の金曜日（第一金曜日）に発表されます。<br>
<br>
      <div class="studytips">
        <strong>雇用統計が発表される夜</strong>
        注目度ゆえに世界中の金融機関がこの発表のためにポジション調整を行います。
        特に日本では発表時間が週末の夜になるので、業務時間が終わってからトレーダーやディーラーなどの
        相場に関わる人々がビールやおつまみを持ちよって今か今かと待ちわびて
        発表された瞬間には自分のポジションの増減を確認します。
        それゆえ、この瞬間に世界中でポジション調整が行われ、株価、為替などが大きく動くのです。
        特に日経平均株価のナイトセッションはこの瞬間に大きく変化するので、売買する人は特に注意が必要ですし、
        逆に変動を予測したら大きく利益を上げることができます。
      </div>
<br><br>


      <div class="studytips">
        <strong>雇用統計はアメリカ以外にもある？</strong>
        全世界の国々がこの雇用統計と同様、労働状況に関する指標を発表していますが、
        中でもアメリカの雇用統計が最も重要であると呼ばれています。
        ーー
        様々なマーケットの中で、特に為替市場に与える影響が非常に大きく、また世界的にも注目されています。
      </div>
      <br><br>
      <h2>雇用統計の指標構成と影響</h2>
      一口に雇用統計指標と言っても、具体的には10項目以上の個別の指標から構成されています。<br>
      この10数項目の中でも、特に、非農業部門雇用者数、失業率という2つの項目が注目されています。<br>
      ニュースなどで取り上げられるのもこの２指標のみということもあります。<br>
      為替や株価に大きな影響を与えるのは、これらの２指標に対する事前の予想と実際に発表された値の差分です。<br>
      事前の予測値と発表値で大きな差額が出ることもあり、そうした場合に市場が大きく動きます。<br>
      逆に前回の発表値から大きな変化であったとしても、この予想値との乖離がなければマーケットは大きく動きません。<br>
<br>
      したがって、為替、株式、債券の市場関係者はこの月一回の大イベントに対して市場予測との乖離を予想してポジションを調整するので
      それゆえ市場に大きな影響を及ぼすとともに、証券会社やFXなどの会社の業績も左右するぐらいのインパクトになることもあるので、
      月１のお祭りと表現するところもあります。<br>
<br><br>


      <h2>日本時間</h2>
      アメリカはサマータイム制の導入により、季節によって経済全体のサイクルが変わりますので、
      日本時間の発表は以下の時間帯になります。<br>
<br><br>
      <table class="securities_table">
        <tbody>
          <tr><th>季節</th><th>発表日</th><th>発表時間</th></tr>
          <tr><td>4月〜10月</td><td>毎月第一金曜日</td><td>21時半</td></tr>
          <tr><td>11月〜3月</td><td>毎月第一金曜日</td><td>22時半</td></tr>
        </tbody>
      </table>
<br>

      <h2>日本にとっての雇用統計の意味</h2>
      米国雇用統計はアメリカに関するものなのに、なぜ日本のマーケットに影響するのでしょうか。<br>
      アメリカの雇用環境が日本にどのように影響を及ぼすかを解説します。<br>
<br>
      <h3>景気の連動性</h3>
      まず日本とアメリカの経済の連動性が挙げられます。<br>
      日本が経済大国であったという時代ではなくなりましたが、
      そうは言ってもアメリカと日本はお互いに影響を及ぼしあっています。<br>
      例えば、日本の輸出入金額の上位国にはアメリカが入っていますし、逆も然りです。<br>
      また、イギリス、メキシコ、カナダ、中国、ドイツなどの先進国や両国の周辺諸国の経済への影響や
      主要通貨の変動によってトヨタなどの輸出関連銘柄と呼ばれる日本を代表する企業の業績にも影響します。<br>
<br>
      アメリカと日本は軍事同盟国である一方で、
      このように経済同盟国であるとも言え、両国はより一層の相互依存性を高めています。<br>
<br>
      <h3>経済観測と実態の乖離の解明</h3>
      経済のアナリストは常に実体経済を観測していて
      今の経済の強さからすると株価はこのぐらいが妥当だという予測をしています。<br>
      こうした人々を予想屋さんと呼んでいますが、
      株価の動向を左右する機関投資家のディーラーやファンドマネージャーは
      社内外のこうした予想屋さんの予測に基づいて多額の資金を運用しています。<br>
      この予想が大きく変わった時、個別銘柄に大きく影響を及ぼす可能性自体は低いですが、
      アセットアロケーションという多額な資金移動を伴う判断には大きく影響します。<br>
      予想値は既に資産配分に反映されていると考えられているためです。<br>
<br>
      例えば、大口顧客から資産を預かっている大手銀行の運用部門では
      本社機能単体で10兆円以上の運用資金を保有しており、
      これらの資金の配分を主に国内株式、国内債券、海外株式、海外債券の４資産に配分(アロケーション)していますが、
      他の資産から国内株に5%資金を移動するだけでも5千億円、三大メガバングだけでも1.5兆円も動くことになります。<br>
<br>
      世界経済の動向によって、5%程度のアセットアロケーションは頻繁に行われるので、
      アメリカ経済の主要指標である雇用統計が弱含んだりすると株価や為替が大きく動くのはこのためによるところがあります。<br>
<br><br>

      <h3>美人投票</h3>
      美人投票というと誤解があるかもしれませんが、
      ファンダメンタルズなどの経済の実態を解析して売買を行うのではなく、
      他の人たちが買う(売る)から自分も買う(売る)という投機的投資家が現れます。<br>
<br>
      雇用統計によって景気の先行きの変化、予想値との乖離が生じた結果、
      マーケットが大きく動くということは説明しましたが、
      更に増幅器の役割を果たすのがこの投機的な投資家です。<br>
      例えば、予想より強い雇用統計が発表された時、株価が上昇します（日本はナイトセッション）。<br>
      この時いくらまで上昇するかは誰にも検討がつかないので、
      この上昇を使って更に利益を上げようとする投資家が出てきます。<br>
      具体的には、板に出ている売り注文を食いつぶすぐらいの買い注文を入れて
      株価が上昇方向に勢いをつけてから十分上がった高値で売り抜けるという手法です。<br>
      これはコンマ何秒という非常に短い時間内で
      事前に作られたアルゴリズムによって全ての板の情報が瞬時に解析されて取引が行われます。<br>
      このすごいところは売りと買いのどちらに動いても対応できるように計算されていることです。<br>
<br>
      この美人投票やアルゴリズムトレードなどは通常時も行われていますが、
      お祭りと評されるほど、経済指標の中でも最も重要な指標が発表されてマーケットが動くタイミングを
      投機家が見逃すはずがありません。<br>
<br>
      <h3>中央銀行の政策観測</h3>
      世の中にはFEDウォッチャーという人々がいます。<br>
      彼らはアメリカの中央銀行の政策に注目してその動向を予測したり、発言や公表に対して解析し、
      将来の金融政策などを予測します。<br>
      雇用統計は毎月定期的に発表されるインパクトあるイベントなので市場参加者も「お祭り」として
      参加しやすいのですが、中央銀行の政策の時期を読むことは非常に難しいです。<br>
      そうした時にFEDウォッチャーなどを通じて政策の変化の動向をつかむのですが、
      中央銀行の政策決定を行う立案者などはこうしたイベントを注視しています。<br>
<br>
      雇用統計の結果、連銀総裁などのキーパーソンの発言によっては
      金融政策の見通しが変わることがあり、
      この場合には雇用統計のそのもののインパクトよりも大きな影響となります。<br>
      難しいのは、雇用統計が良かった結果、インフレを抑えるために逆に金融引き締めを行うと予測すれば
      逆に株価は下がります。<br>
<br>
      ちなみに、日本の中央銀行である日銀やEUのECBなどもウォッチャーがいますが、
      アメリカのFEDが最も影響力があります。<br>
<br>
      <h3>実需面での影響</h3>
      日本では雇用統計の間に開いている株式マーケットはナイトセッションですが、
      こうした時間帯に取引を行っている投資家にとって株価が大きく動いた時に
      手持ちの資産を売却、もしくは買い戻ししなくてはならないケースもあります。<br>
      特にレバレッジをかけた先物市場では日経平均先物が大きく動きますので、
      利益確定や損失回避の動きによってマーケットの変動が増幅されるという実需面での影響も考えられます。<br>
<br><br>

      <h2>個人投資家が取るべき雇用統計発表時の売買</h2>

      雇用統計の指標自体の重要性についてはあらゆる経済指標の中でも特に重要な指標であると述べましたが、
      それゆえにマーケット参加者の注目を集めます。<br>
      したがって、運用のプロと言われる機関投資家の動きが活発になりますが、
      だからと言って個人投資家が入る隙間がないかというとそうとも限りません。<br>
<br>
      お勧めなのは先物取引です。<br>
      先物はレバレッジが効いているので腰が引けてしまうという方々もいらっしゃるかもしれませんが、
      このような大きく動くタイミングで効率的に利益を確定できる方法を二つお教えします。<br>
<br>
<br>
      <h3>指値の戻り狙い</h3>
      雇用統計発表後、よくあるパターンが株価が一方向に一瞬で大きく動いてから半値戻しをすることが多いので
      例えば現値よりかなり高値で売り注文を入れておき、約定後にその約定価格より比較的低い値段で買い注文を予約します。<br>
<br>
      現値より「かなり」高値で売り注文を入れるというところがポイントです。<br>
      また、戻り注文はそれより低い値段で買い注文を入れるというところも必須です。<br>
      これは売りと買いを逆にしてもいけるパターンです。<br>
      むしろ上がるか下がるかわからない場合には売りと買いの両方の注文を入れておくこともあります。<br>
      上級者であれば、マーケットの強気、弱気によって戻り注文の値幅を少し変えて利益確定額を大きくするなどのテクニックも可能です。<br>
<br>

      <h3>逆指値のモメンタム狙い</h3>
      時間があるときに記載します。
<br><br>

      上記手法は値幅さえ間違えなければほぼ確実に利益になる方法ですが、
      あまり浸透していないのは両取引手法は予約注文ができる証券会社に限られてしまうからでしょう。<br>
      逆に言うと、逆指値と予約注文が可能な証券会社であればほぼ利益を出せることになります。<br>
      私がいつも行っている証券会社は予約注文も逆指値注文も可能な
      <%= link_to '松井証券でほぼ毎回のように手堅く稼いでいます', '/study_pages/intermediate/apply_matsui' %>。<br>
    </div>
  </div>
</div>
