<!-- seo -->
<%= set_meta_tags title: 'ミニ株' %>
<%= breadcrumb :mini_kabu %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         ミニ株とは
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h4>ミニ株とは</h4><br>
      <br>
      以前にもでてきましたが、
      取引所などで株式を売買するためには、単位株といって売買するためには最低限必要な売買株数というものがあります。<br>
      例えばトヨタ株を購入するためには最低限100株以上買わなくてはなりません。<br>
      現状、銘柄ごとに単位株は異なりますが、将来的には100株に統一する方向で調整される予定です。<br>
      <br>
      現在、トヨタ株が一株あたり5000円だった場合、100株購入するには50万円が必要になります。<br>
      これが一株単位で買える制度がミニ株というものです。
      正確には単元未満株取引サービスと言われる制度ですが、
      銀行などでは端株（ハカブ）と呼ばれますし、
      証券会社各社でも呼び名は異なります。<br>

      例えば、
      松井証券では単元未満株、
      カブドットコム証券ではプチ株、
      マネックス証券ではワン株、
      SBI証券ではS株と呼ばれています。

      また、各社で手数料や取引可能な時間たい、サービスの内容も少し異なっています。
      まず、ミニ株のメリット、デメリットや仕組みについて理解した上で
      証券会社ごとの違いについて確認していきましょう。<br><br><br>
      <br>
      <strong>ミニ株のメリット</strong><br>
      ・少ない資金で売買<br>
      ・分散効果を効かせるために多くの銘柄をより少ない金額で売買する<br>
      <br><br>

      <strong>ミニ株のデメリット</strong><br>
      デメリットというか、注意事項のようなものです。<br>
      ・取り扱い銘柄<br>
      ・取り扱い証券<br>
      ・注文方法の限定<br>
      ・手数料<br>

      <strong>仕組み</strong><br>
      ・なぜ売買単位以下で取引できるのか<br>
      ・単位未満株が証券会社側で保有してない場合はどうなるのか<br>
      ・手数料はどういう計算根拠なのか<br>
<br><br><br>
      <strong>証券会社各社の違い</strong><br>
      ・松井証券<br>
      ・楽天証券<br>
      ・SBI証券<br>
      ・カブドットコム証券<br>
    </div>
  </div>
</div>
