<!-- seo -->
<%= set_meta_tags title: '日経225先物' %>
<%= breadcrumb :nikkei225sakimono %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         日経225先物
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">

      <h3>日経225先物</h3>
      日経225先物とは、日経平均株価指数の先物です。<br>
      この日経平均株価指数とは、東証一部上場銘柄のうち、出来高（売買株数）の多い上位225銘柄の株価を平均した値です。<br>
      日経平均銘柄といった場合にはこうした銘柄の事を言い、日本を代表する銘柄とされています。<br>
<br>
      日本にはもう一つ代表的な指数TOPIXというものがありますが、その算出方法は大きく異なります。<br>
      まずTOPIXは東証１部に上場しているほぼ全銘柄が算出対象で、日経平均銘柄は225銘柄に限定されます。<br>
      またTOPIXは単純な株価の平均値である日経平均とは異なり、時価総額に比例した重み付けされる平均値(時価総額加重平均)です。
<br><br><br>
      それでは指数の先物とは一体なんでしょうか。<br>
      <br>
      投資をするうえで指数先物の構造を詳しく知っておく必要はありませんが、
      簡単に言うと、将来時点でその指数の構成銘柄と全く同じ銘柄を買う「契約」のことであり
      先物の価値はその指数の将来の株価を予測しているものとされています。<br>

      <div class="studytips">
        日経平均先物の理論価格は売買するための知識としては不要ですが、もう少し知りたい方のために少し学問的になりますが解説します。
        先物の価値は将来の株価を予測するものであるとされていますが、実際には微妙に異なります。
        まず経済学には同じ期間で発生した同一の投資行動(同じリスクリターン特性の商品の売買)で得られる損益は等しくなるという考え方があり、
        これを裁定と呼びます。

        日経平均先物に限定した話で先物の定義に戻ると、先物の値は将来225銘柄を買うために必要な値段であるとされていますので、
        ある時刻で先物を購入することは同じ時刻で日経225銘柄を購入することと比較して配当金をもらえず、
        銀行などで貯金をして利息(短期金利)がもらえることと等しいです。
        すわなち、先物の理論価格は225銘柄の平均株価に対して短期金利を足して、配当金を引いた値段に等しくなります。
      </div>

<br><br><br>
      もっと簡単に言うと(時間の概念すら取っ払って)、指数そのものが売買できると思って頂いても間違えではないでしょう。<br>
      ではこの指数先物の特徴をもう少し見てみます。


      <h3>先物の特徴</h3>
      <strong>レバレッジがかけられる</strong><br>
      日経225先物の説明をする前に仮に日経平均指数と全く同じものを購入しようとすると、
      必要な金額は日経平均の225銘柄の株価とそれらの単位株数を掛け合わせたものになります。<br>
      単価は日経平均の指数値そのものなので17,000円として、
      単位株数を全て100株と計算するとこれらを掛け合わせて170万円が必要になります。<br>
      実際には単位株数が100株だけではないものもありますので、大体数百万円が必要になります。<br>
<br><br>
      しかし、指数先物の場合にはレバレッジと言って自分が保有している金額以上の売買が可能になります。<br>
      どういうことかというと、信用取引と同じ考え方で証拠金という制度を使って最低限必要な金額(証拠金)さえ証券会社に納めていれば、
      その証拠金の何倍もの金額を投資できます。<br>
      (当然、利益も何倍にもなりますが、損失も同様に何倍にもなるのでリスクがあることをご理解ください。)<br>
      <br>
      <br>
      <strong>流動性が高い</strong><br>

      日経平均の値動きは225銘柄の株価の平均値なので1銘柄の場合よりも平準化される(値動きが緩やかになる)はずですが、
      実際にはそうなりません。
      それは現物の値段を見ないで先物の値動きを売買する先物トレーダーという存在がいるからです。
      先物は上に書いた通り、レバレッジがかけられるのでそれだけ儲けも(損失も同様に)大きいのです。
      先物トレーダーはこうしたレバレッジ取引を目的に多額の資金を使って売買を仕掛けます。
      先物の値動きが大きくなる理由は他にもあります。
      例えば、国内で最大規模をの資金を保有する大型のパッシブファンドなどもそうした原因の一つです。

      <div class="studytips">
        <strong>先物の値動きが株式市場に影響する？</strong><br>
        他のページと繰り返しになってしまいますが、パッシブファンドは株価指数に対して連動するよう運用しています。<br>
        パッシブ型の運用は国内で圧倒的な資金量を保有するGPIFなどの年金系のファンドが採用しているので
        当然、特に大型のファンドでは多くの人の年金を運用しておりますので、毎日年金の支払いや払込みが発生します。<br>
        例えば支払いの必要がある場合に備えて現金を保有しておく必要がありますが、
        毎日の支払いに対して株式を売却していては取引手数料が多くかかってしまい損してしまいますし、
        株式を売却してから現金が入ってくるまでに３営業日かかってしまい、その間はファンドの評価として現金を保有している分、
        指数の値動きから乖離してしまいます。<br>
        当然、現金を多く保有していると指数の動きから乖離してしまいます。<br>
        そこで登場するのが先物になります。<br>
        先物を保有していれば、その分の価値も指数に連動しますし、
        実は決済してから受渡までの期間が株式の３営業日よりも短い１営業日となっていますので
        こうしたデメリットを解消できます。<br>
<br>
        大手の年金系ファンドで支払いによる資金需要が発生したり、資金投入が行われると
        先物が大きく売られたり買われたりします。<br><br>
        これが新聞などでよく書かれる、年金ファンドによる先物主導で相場が大きく動いた、というストーリーです。<br>
      </div>
<br><br>
      こうしたイベントごとに資金を拠出したり、日々売買を繰り返すので現物と先物の両方で側面で売買する動機が発生し、
      取引量も通常の個別銘柄に加えて高くなり、その分値動きも大きくなることもあります。<br>
      値動きが大きいということは、ハイリスクハイリターンということになります。<br>
      この値動きが個別株に影響を与えることもあります。<br>
<br>
      <div class="studytips">
        <strong>なぜ先物が動くと現物(日経平均など)も動くのか</strong><br>
        理論的に先物と現物が同じだからという理由だけで両者が同じ値段で動くということが信じられないという人もいるかもしれません。<br>
        市場では多くの取引手法があり、それは単なる株式を売買する、先物を売買するという手法だけではありません。<br>
        代表例として、先物と現物を交換するEFP取引という手法があります。<br>
        例えば、配当をもらえる権利が3月末に発生します。<br>
        この時パッシブファンドは配当が支払われた金額分を先物として保有しておき、
        6月末に実際に配当が支払われるタイミングで先物を売って現物を購入します。<br>
        国内の主要な銘柄の平均配当金額が株価の2%である時、
        全パッシブファンドの資産金額300兆円のうち、6兆円が市場で売買されることになり、
        東証の1日の平均売買金額が1兆円であることを考えるととても無視できない水準であり、
        これが現物の相場を動かします。<br>
      </div>
<br><br>
      日経平均に組み入れられている大型銘柄は自社の価値やイベントで変動する要因に加え、
      こうした先物要因によって動かされるという側面も併せ持つので
      先物を保有していない投資家にとっても値動きをチェックする必要があります。<br>
<br><br>
      先物はレバレッジがかかっているだけリスクだと捉える方もいると思いますが、
      実際にはこうした値動きの荒さがある一方で現物価格との同期という側面を持ち合わせているので
      規則性さえ捉えれば売買益の出しやすいものでもあります。<br>
<br>
      具体的な売買方法については別のページでご説明します。<br>

    </div>
  </div>
</div>
