<!-- seo -->
<% set_meta_tags title: 'ノーロード投信のリスク' %>
<% set_meta_tags description:
'' %>
<!-- keyword:投資　最初　お手軽 株　自分　見合う　探す　方法　銘柄 -->
<!-- 目的：投資の初心者が最初に見て、何に投資すべきかを探すページ -->

<% breadcrumb :noload %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h1>
         ノーロード投信のリスク
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <br>
      <h3>ノーロードとは</h3>

      <%= link_to '投信には様々な手数料', '/study_pages/advanced/mutual_fund' %>がかかります。<br>
      具体的には販売手数料、信託報酬、売買委託手数料、保管コスト、信託財産保留額などがかかります。<br>
      ノーロード投資信託とはこのうち、販売手数料が無料になる投資信託のことです。<br>
      通常、2％程度であることが多い販売手数料の存在によって、
      投資家は100万円の金額で投資したつもりが98万円からスタートすることになってしまいます。
      10％の値上がりを期待して100万円を110万円にしようと思って投資信託を購入したつもりが、
      この販売手数料があることによって100万円は108万円になってしまいます。
      この販売手数料は投資信託によって異なります。
      最悪、値上がり益を期待していたのにいざ蓋を開けたら値下がりしていたということにならないように、
      この販売手数料は投資信託を購入する前にしっかり確認しておきましょう。
      その意味でノーロード投信は販売手数料がかからない分だけお得だということができるでしょう。






      <h3>ノーロード投信のメリット</h3>
      ノーロード投信のメリットは何と言ってもその販売手数料がかからないことでしょう。
      数パーセントのコストは小さいと見る方もいるかもしれません。
      しかし、投資信託の業界平均の利回りは5%と言われている中でそのうちの半分程度が手数料に消えると考えると無視できないでしょう。


      長期考えて保有し続ける分には問題ありませんが、
      100万円の資金で投信を購入して数年に3回入れ替えるとすると6万円の売買手数料がかかります。
      これはファンド収益で換算すると6％のリターンがあるファンドを探さなくてはなりませんが、
      実際に様々な投信の仕様書を見ていると年率6%の利回りがある投信なんてほぼありませんので
      これを探すのは至難の技です。<br>



      <h3>ノーロード投信のデメリット</h3>
      実は投信には売買手数料以外にも信託報酬と言って保有する期間、ずっと払わなければならない手数料があります。


      なぜ投信の売買手数料や信託報酬というものがかかるのでしょうか。
      それは昔では窓口で投信を販売する人件費や購入後にファンドを運用したり管理する人たちがいるからです。
      ノーロード投信は売買手数料がかからないとはいえ、
      手数料を削減しなければ売れない投資信託というのはそれだけ収益率が低くなる可能性があります。
      インターネットが発達して、証券会社や銀行の窓口業務が軽減されたことによって
      投信の売買を店頭窓口で行わなくてもよくなったことにより
      売買手数料はかからなくなりましたが、
      運用者を省くことはできないので信託報酬はかかります。
      これはノーローン投信のデメリットというよりは投資信託全体のデメリットと言えます。


      将来的にはアルゴリズムトレードによって運用に人件費がかからなくなれば
      もしかしたら信託報酬も低くなる日が来るのかもしれませんね。


      <br>

      <h3>ノーロード投資信託取り扱い本数ランキング</h3>
      ノーロード投資信託の取り扱い本数で証券会社のベスト5を集計すると、下記の通りとなります。
      上位いずれの証券会社も利便性が高いです。（管理人的も、全ての口座を保有し、使い分けをしています。）

      ただし、ノーロード投信の本数だけで選ぶと、セゾン投信など、直販型の魅力的なファンドを見逃してしまいますので、
      その点は注意が必要です。あわせて、下記のコーナーでもチェックしてみてください。

      <strong>ノーロード投資信託取り扱い本数ランキング</strong><br>
      <table class="securities_table">
        <tbody>
          <tr><th>ランク</th><th>購入先</th><th>本数</th><th>コメント</th></tr>
          <tr>
            <td>1位</td>
            <td>SBI証券</td>
            <td>569本</td>
            <td>
              保有投信残高の年間0.1%がSBIポイントとして現金に還元できる。残高が1000万円以上は0.2%が年間でSBIポイントとして付与される。
              口座数も他のネット証券より多いのは、松井証券での10万円以下の売買を除き、株式売買手数料が他の証券会社より圧倒的に安い。
            </td>
          </tr>
          <tr>
            <td>2位</td>
            <td>楽天証券</td>
            <td>556本</td>
            <td>コストの安い海外ETFの取り扱いでナンバーワン。取引で楽天ポイントが貰えるのも意外と魅力的。
              （楽天証券の評価解説ページ）
            </td>
          </tr>
          <tr>
            <td>3位</td>
            <td>カブドットコム証券</td>
            <td>319本</td>
            <td>現物株の多彩な自動注文に強い定評が有るが、実はインデックス投資をするのに最適な口座。
              貸株やプチ株のクオリティも高い。
              カブドットコム証券のみ購入、売却手数料無料のフリーETFの取り扱いも魅力。
              （カブドットコム証券の評価解説ページ）
            </td>
          </tr>
          <tr>
            <td>4位</td>
            <td>マネックス証券</td>
            <td>271本</td>
            <td>初心者向けの投資教育コンテンツの充実度がピカイチ。勉強したい人は必須の口座。
              （マネックス証券の評価解説ページ）
              ・当サイト経由で口座開設すると現金3000円がもらえます
            </td>
          </tr>
        </tbody>
      </table>


      <h3>信託報酬の安い国内株式型ノーロード投信ランキング</h3>

      国内株式ファンドとして、純資産残高の多少に問わず、信託報酬の低いものから順に並べています。

      ご自分のアセットアロケーション決定後、そのアセットアロケーションの日本株式部分はどう選ぶかという観点で下記の低コストの国内株式インデックスファンドが有力候補となります。

      バランスファンドをコアにする場合は、そのバランスファンドの日本株式部分を補完するために利用できます。

      また、バランスファンドを使わずに、資産クラス毎にファンドを選択する場合は、好きな比率分だけ購入すれば、オリジナルのアセットアロケーションが作成できます。

      <table class="securities_table">
        <tbody>
          <tr><th>順位</th><th>ファンド名</th><th>信託報酬（税抜）</th><th>コメント</th></tr>
          <tr>
            <td>1位</td>
            <td>日経225インデックスｅ</td><td>0.19%</td>
            <td>日経平均をベンチマークとする最も信託報酬の低いインデックスファンド。
              2016年1月8日より運用が開始される新しいファンドです。
            </td>
          </tr>
          <tr>
            <td>2位</td>
            <td>
              たわらノーロード 日経225
            </td>
            <td>0.195%</td>
            <td>日経平均をベンチマークとする最も信託報酬の低いインデックスファンド。
              2015年12月より運用が開始された新しいファンドです。
            </td>
          </tr>
          <tr>
            <td>3位</td>
            <td>ニッセイ日経225インデックスファンド</td>
            <td>0.25％</td>
            <td>日経平均をベンチマークとする運用期間の長いファンドの中で最も信託報酬の低いインデックスファンド。</td>
          </tr>
          <tr>
            <td>4位</td>
          	<td>ひとくふう日本株式ファンド</td>
            <td>0.25％</td>
            <td>
              JPX日経インデックス400の構成銘柄を投資対象とし、
              価格変動リスクを相対的に抑えることを目指して組入銘柄数とウェイトを決定する信託報酬の低いアクティブファンド。
            </td>
          </tr>
          <tr>
            <td>5位</td>
            <td>＜購入・換金手数料なし＞ニッセイＴＯＰＩＸインデックスファンド</td>
            <td>0.29％</td>
            <td>TOPIXをベンチマークとする最も信託報酬が低いインデックスファンド。
              2015年4月27日より運用が開始されたTOPIXインデックスファンドとして今後の運用に注目です。
            </td>
          </tr>
          <tr>
            <td>6位</td>
            <td>＜購入・換金手数料なし＞ニッセイJPX日経400インデックスファンド</td>
            <td>0.31％</td>
            <td>JPX日経インデックス400をベンチマークとする最も信託報酬が低いインデックスファンド。
              2015年1月29日より運用が始まったJPX日経400インデックスファンドです。
            </td>
          </tr>
          <tr>
            <td>7位</td>
            <td>日本株式インデックスe</td>
            <td>0.37％</td>
            <td>TOPIXをベンチマークとする信託報酬が低いインデックスファンド。
              ニッセイ日経225インデックスファンドよりも多数の銘柄（約1700銘柄）に分散投資しており、日本株式の投資として最適。
            </td>
          </tr>
          <tr>
            <td>8位</td>
            <td>SMT TOPIXインデックスオープン</td>
            <td>0.37％</td>
            <td>日本株式インデックスe同様、TOPIXをベンチマークとする2番目に最も信託報酬の低いファンド。
              SMTインデックスシリーズの1ファンドとして安心の長期投資が可能。
            </td>
          </tr>
          <tr>
            <td>9位</td>
            <td>SMT JPX日経インデックス400・オープン</td>
            <td>0.37％</td>
            <td>
              JPX日経インデックス400（配当込み）をベンチマークとするファンドの中で2番目に信託報酬が低いインデックスファンド。
              運用中のファンドとしてはコスト最安です。
            </td>
          </tr>
          <tr>
            <td>10位</td>
            <td>SMT 日経225インデックス・オープン</td>
            <td>0.37％</td>
            <td>日経平均（225銘柄）をベンチマークとするファンドの中で信託報酬が低いファンド。
              迷わずニッセイ日経225インデックスファンドを選びたいところです。
            </td>
          </tr>
       </tbody>
     </table>

    </div>
  </div>
</div>
