<!-- seo -->
<%= set_meta_tags title: '運用方針を決める' %>
<%= breadcrumb :determine_policy %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         運用方針を決める
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <br>
      <strong>運用方針を決める</strong><br>
      投資にはスタイル、運用方針というものがあります。<br>
      どういう方針で運用するかというものですが、それを決めるためにはあなたがまずなぜ株式を運用しているかを明確にしなければなりません。<br>
<br>
      ほとんどの人がお金を稼ぎたいとお思いでしょうが、
      残念ながら、必ずしも誰しもが常にうまくいくとは限りません。<br>
<br>
      自分が買った銘柄が思わず下落してしまうこともあるでしょう。<br>
<br>
      そうなった時にいかに損失を減らしつつ、資産を増やせるかを考えなければなりません。<br>
      その時に必要となるルールが運用方針というものになります。<br>
<br>
      だから、お金を稼ぎたい理由によって運用方針が変わってくるのです。<br>
<br>
      例えば、将来の結婚資金や老後の生活資金にしたいのか、
      もしくは毎日常に利益を出して遊ぶ金が欲しいのか。<br>
<br>
      初めての方であれば、多くの人が後者を目指すのではないでしょうか。<br>
      しかしどんなプロでも毎日利益を出し続けることは不可能です。<br>
<br>
      投資は自分のお金を増やすために行うものですが、
      残念ながら、時に損することも覚悟しなければなりません。<br>
<br>
      一方で１週間、１ヶ月、１年というスパンの中で利益を出すことは不可能ではありません。<br>
<br>
      正確には、明確な運用方針を持っていれば１ヶ月というスパンの中で利益を出す確率は
      毎日利益を出す確率よりも格段に大きくなりますし、利益となる金額も増える確率が大きくなります。<br>
<br><br><br>
      <strong>運用方針とは</strong><br>
      では、運用方針や投資スタイルとは具体的にどのようなものでしょうか。<br>
<br>
      運用方針とは投資の世界で大きく、期間と銘柄選定の二つで説明されます。<br>
      期間については上で少し述べましたが、要は短期で稼ぐのか長期で稼ぐのかということです。<br>

      しかし、短期で稼ぐことはあまりお勧めできません。<br>
      なぜなら、短期で稼ぐためには頻繁に売買を繰り返すことになるからです。<br>
      株価はそう簡単に狙った通りに動かないので、買った銘柄がすぐに上がる確率は50〜60%でしょう。<br>
      特定の銘柄に関して確実に株価が上昇するという情報を知ったとしても、あなたが獲得した情報は既に誰かに知られているので
      その銘柄は既に多くの人に買われてしまって株価が上昇しているからです。<br>
      世の中には年間数十億円以上もコストをかけてアナリストを使ったりして情報を購入している企業もいるので、
      一人の個人投資家がたまたまに知った情報で短期間で株価が思った方向に動くということはまず確実にないと考えて良いと思います。<br>
      短期投資家のほとんどは売買手数料にお金を取られて失敗するケースが多いのです。<br>
      あなたが企業の内部の人やたまたまインサイダー情報に触れる機会があるのであれば話は別ですが、お縄にだけはならないようにしてください。<br>
      想像以上にインサイダー取引に関する法の目は張り巡らされているからです。<br>


      短期で稼ぐことが難しければ必然的に長期間で投資を考えなければなりませんが、
      必ずしも短期投資が悪いと言ってるわけではありません。<br>
      世の中には短期で稼ぐ投資家もいます。<br>
      その例がスイングトレーダーと呼ばれる投資家です。<br>
      株価が短期的に(も長期的にも)一定のサイクルで上がったり下がったりするという特性があります。<br>
      この特性を利用して、サイクルの中で下がった時に買い、
      上がった時に売るという方法を繰り返すのがスイングトレーダーになります。<br>

      しかし、買う時であればそのタイミングが本当に安いのか、
      その後さらに下がるのではないか、ということを買うタイミングで知ることはできず、
      サイクルを知るのはすべて結果論になります。<br>
      このタイミングを知るには当たり外れも大きく、ベテランのまさに感と経験の世界なので、
      初心者が最初に行う投資行動としてスイングトレードはお勧めできないのです。<br>


      逆に、長期間で考えた時に企業は常に合理的に経営を行い、
      生産活動の改善を行っているという前提に立てば、
      その企業の収益状況を表す株価は上昇するということができますし、
      実際、そうなっている企業が多いです。<br>
<br>
      しかし、貯金ではないので何年もその銘柄を持ちつづけるなんて悠長なことはやってられないという投資家もいるでしょう。<br>
      そういう方にオススメなのが中長期投資です。<br>
<br>
      中長期投資とは、一般に数週間から数ヶ月というスパンで株価を分析しながら売買を行います。<br>
      具体的には企業の生産活動、財務指標などを見て割安かどうか判断しながら売買を行います。<br>
<br>
      どの銘柄を売買するかは銘柄選定の項目で説明します。<br>
<br>
      <strong>銘柄選定</strong><br>
      銘柄選定については大きく2つに分けられます。<br>
<br>
      それがパッシブ運用とアクティブ運用です。<br>
      パッシブ運用とは東証株価指数(TOPIX)などの株価指数と呼ばれるベンチマークや市場インデックスに対して
      ほぼ同じ動きをして同じ収益率を目指すように運用することで、反対にベンチマーク以上の収益率を目指すのがアクティブ運用です。<br>
<br>
      先ほども申し上げたとおり、売買を繰り返せば売買手数料がかかるわけで、
      どんなに企業分析をしたところでこの市場インデックス以上の収益率を出せないので
      売買手数料の分だけ収益率が悪くなるというのがパッシブ運用という投資スタイルを採用する理由です。<br>
      パッシブ運用をある程度正確(市場インデックスからの乖離を少なくするよう)に行うためには数百億円が必要なると言われ、
      この規模を運用を行うためには個人投資家ではなく、主に銀行や保険会社などの機関投資家がメインになります。<br>

<br>
      パッシブ運用の投資家が信じる企業分析をしても市場インデックスを上回る収益率を出せないという理由は２点あります。<br>
      ・市場に参加する投資家が皆合理的であれば全ての銘柄の株価は長期的に企業価値を反映する<br>
      ・インサイダー情報はない(＝全ての投資家は全ての情報を持っている)上に企業の収益情報などは全て瞬く間に広がるので、
      株価を動かす情報で他の投資家を出し抜くことはできない<br>
<br>
      この根拠の前提条件を見ると分かりますが、市場参加者が皆合理的であるという点や情報が瞬く間に広がるという点について
      現実的ではない部分もあります。<br>
<br>
      アクティブ運用の投資スタイルを選ぶ投資家はこうした非合理性や情報の伝達が遅れる可能性があるという点を拠り所にしています。<br>
      アナリストが公表されているが、世間一般に認知されていない情報を探して、
      この情報をもとに株価の上下を予想して先回りしてその銘柄を売買することは
      こうしたアクティブ運用の一つになります。<br>
      また、市場インデックスと同じ動きをするパッシブ運用は動き方がある程度予測されてしまうため、
      アクティブ運用がこうしたパッシブ運用を餌食にして先回りして売買することで利益を確保することもあります。<br>
      この予測方法については後ほど、別のページにて説明します。<br>
<br>
      こうして、市場インデックスに準拠するパッシブ運用とそれ以外のアクティブ運用という分け方ができるのですが、
      アクティブ運用にはさらに、グロース投資とバリュー投資に分けられます。
      <div class="studytips">
        ※グロース投資やバリュー投資の株価指数インデックスを作って、
        この指標に対して追随するというパッシブ運用的な方法も編み出されていますが、
        市場全体のインデックスに対して上回ることを目的とした運用であると見ることもできるのでこれをアクティブ運用と位置付けることにします。
      </div>
      グロースとは成長という意味で、バリューとは割安という意味です。
      つまり、簡単に言うとグロース投資とは企業収益や株価が伸びている銘柄を選ぶのに対して、
      バリュー投資は企業収益に対して株価が低く評価されている割安銘柄を選定するという方法です。<br>

      スイングトレードもある意味、中長期的なサイクルで行えば、バリュー投資と言えるでしょう。<br>

      <br>
    </div>
  </div>
</div>
