<!-- seo -->
<%= set_meta_tags title: '株式分析' %>
<%= breadcrumb :analytics %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         株価の分析
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      株価を分析する方法をご紹介します。<br>
      <br><br>
      <h4>1.現値の割安/割高判定指標</h4><br><br>
      <strong>PBR</strong><br>
      株式時価総額/簿価<br><br>
      株価純資産倍率<br>

      <br>
      株式時価総額が純資産価値に対してどのくらい割安かを判断するための指標。<br>
<br><br>

      会社にある資産は借金と自社で保有する資産に分けられます。<br>
      株価純資産倍率のPBRは株式時価総額(Price)を純資産簿価(Book)で割った値(Ratio)になります。<br>
<br><br>


      このPBRは"会社の資産の中で借金を除いた純資産と発行している株式の時価総額の関係"を表していて、
      この後出てくるPER同様、現在マーケットで取引されている株価がこの純資産額に対してどのくらい割安かを測ることができます。
      出資者である株主を企業の所有者と捉えた場合、
      純資産額は企業の(借金を差し引いた)資産なので株主資本と呼びます。
      誤解を恐れずに言えば、株主が出資した額に対して現在の株価がどれくらい割安かを示しています。
      会社が倒産したり解散した場合、総資産から借金を返済して残った株主資本から
      従業員に給料や退職金を支払い、その後に残った金額が株主のものとなります。
      (株主が債権者よりも返済優先度が低いと言えます。)

      従って、PBRが低いと株価が割安であると言えます。

　
      PBR（株価純資産倍率）＝株価÷1株あたり株主資本（ＢＰＳ）
      1株あたりの株主資本（ＢＰＳ）＝株主資本÷発行済み株式数


      この式によれば一株あたりの株主資本が株価と等しい場合にPBRは１に等しくなります。
      (一株あたり)株主資本が株価より大きい、すなわち株主が所有する純資産価値が株価を上回っているということは
      PBRは1を下回り、株価が割安ということになります。
      逆に株主資本が株価より小さい場合はPBRは1を上回り、株価が割高ということになります。

      基本的にPBRが1を下回る企業は割安と判断され、買われることにより株価が上昇するのでPBRが1に近づく、
      もしくは1を上回ることになります。
      なぜかというとPBRが1を下回るということは株式が評価されていないということになりますので
      業績が悪かったり、需給が緩い状態にあります。
      仮に業績が悪いとして会社が倒産した場合、先ほどのロジックで純資産は株主の物になります。
      PBRが1を下回っているので、株主が投資した金額よりもこの純資産の価値は大きな金額をとなっているはずです。
      従って、PBRが1を下回っているということは非常に割安にその恩恵に享受できる稀なケースとなります。


      上記のような割安性に対する考え方は株価を評価する一つの観点であり、
      株価自体がマーケットの需給に応じて変動するものになります。
      従って、PBRが1を下回るということは稀なケースではあるものの、実際にありえないことではありません。

      皆さんもPBRが1を下回る銘柄を探してみてはいかがでしょうか。
<br>
      参考：<br>
      http://kabukiso.com/apply/useinfo/perkiso.html<br>
<br><br><br>

      <strong>PER</strong><br>
      株式時価総額/当期純利益<br><br>
      株価収益率<br>
      <br>
      会社の利益に対して株価がどれくらい割安かを判断するための指標。<br>
      <br><br>

      PER（株価収益率）というのは、"会社が年間で作ることができた利益と株価の関係"を表していて
      収益面での割安性を測ることができます。<br>
<br>
      PBRが純資産価値に対して割安かどうかを判断していたのに対して
      PERは純利益に対して割安かどうかを判断しておりますので、
      前者がストック型の割安判定、後者をフロー型の割安判定と言えます。<br>
<br>
      一般的に、『ＰＥＲが低ければ低いほど、会社が稼ぐ利益に対して株価が割安である』といえます。<br>
<br>
      PER（株価収益率）＝時価総額÷純利益<br>
　　　　　　　　　　　　（＝株価÷1株あたりの利益）<br>
      ここで時価総額は、“株価×発行済み株式数”を指します。<br>
      市場で時々刻々評価される会社丸ごとの価値の事です。<br>
　<br>
　    上の式の通り、PERは時価総額(Price)を純利益(Earning)を割って求めること(Ratio)ができます。<br>
     すなわち、1株当たりの純利益の何倍まで株価が買われているかを示しています。<br>
     PERが5倍であるということは、その株価で投資した場合に投資した資金を回収するまでに5年かかるということを示しています。<br>
<br>
     <div class="studytips">
       <strong>割安指標をどうやって使うのか</strong><br>
       株価純資産倍率PBRや株価収益率PERはどのように割安指標として活用するのでしょうか。<br>
       まず一つは絶対値での評価です。<br>
       PBRであれば株価が純資産に対してどれくらい割安かどうかを示しているので
       PBRが1を上回れば割高、下回れば割安という評価になります。<br>
       PERであれば株価が純利益に対してx倍だからこの企業の収益率であればx年で回収できると考えるでしょう。<br>
       ※収益が全て株主の所有する株主資本(純資産)として蓄積される前提。<br>
<br>
       全ての割安指標にはこうした絶対評価以外にも相対評価もありえます。<br>
       例えば、PBRが1を上回っていても1年前のPBRより下がっているなら割安になっていると判断できるでしょう。<br>
<br>
       また業界的にキャッシュを多く保有しなくてはいけない会社だったり、
       借入が他よりも少ない業種ということもあるでしょう。<br>
       そうした場合、業界内平均の割安指標に対してその銘柄がどのくらい割安なのか判断するということも考えられます。<br>
<br>
       PERでいうと、IT企業などは成長期待が大きいため利益に対して株価が非常に高いです。<br>
       そのため、PERは他の業種よりもかなり高く100倍という銘柄もあります。<br>
       参考ですが、東証１部の平均PERは15倍程度です。<br>
<br>
       まとめると割安指標はその値そのものの水準で評価する方法、<br>
       時系列変化で評価する方法、<br>
       業界内平均に対して評価する方法<br>
       の三点があるでしょう。<br>
<br>
       こうした評価方法に加え、このあと説明するROAやEV/EBITDAなど総合的に評価すべきです。<br>
     </div>
<br><br>

      <strong>ROA</strong><br>
      当期純利益/総資産<br><br>
      総資産利益率<br>

      会社のすべての総資産に対して収益がどの程度になるのか、
      つまり、会社のすべての資産を使ってどれだけ収益が上げられているのかを表しています。
      PBRやPERと異なり、株価の概念は関係ないので単純にその会社の業績として利益率を表す一つの指標です。
      

<br>

      <strong>ROE</strong><br>
      当期純利益/純資産<br><br>
      純資産利益率<br>
<br>

      <strong>EV/EBITDA</strong><br>
      企業価値EV/利払い前税引き前償却前利益EBITDA<br><br>

      <strong>EV</strong><br>
      株式時価総額 ＋ 純負債（有利子負債 ー 現預金）<br><br>
      <strong>EBITDA</strong><br>
      当期純利益 ＋ 少数株主持分損益 ＋ 支払い利息 ＋ 法人税 ＋ 減価償却費<br>
      Earnings Before Interest,Taxes, Depreciation and Amortization<br><br>
      <strong>配当性向</strong><br>
      1株当たりの配当額 / 1株当たりの当期純利益<br><br>
      <strong>BPS</strong><br>
      純資産÷発行済株式総数<br><br>
      <strong>EPS</strong><br>
      当期純利益÷発行済株式総数<br><br>
      http://www.kabutec.jp/company/fs_2461.html

      <br><br><br>

      <h4>2.理論株価の算出</h4><br><br>
      株価には理論値という考え方があります。<br>
      理論には、株価は企業の収益力を反映するものであるという前提があります。<br>

      1.BPSとEPSから算出する方法<br>
      BPS＋（今期予想EPS×10）<br>
<br>
      2.PERとPBRと売上高成長率を加味する方法<br>
      BPS＋今期予想EPS＋来期予想EPS＋来期予想EPS×（売上成長率＋売上成長率の2乗＋売上成長率の3乗＋売上成長率の4乗）<br>
<br>
