<!-- seo -->
<% set_meta_tags title: '税金' %>
<% set_meta_tags description: '株を売買して利益が発生すると税金が課されるので' %>


税金は発生した利益に対して課税されるので、損失が発生した場合には課税されません。<br>
<% breadcrumb :tax %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         株式投資に関する税金の対応
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">
      <h3>
        株式投資における税金の取り扱い
      </h3>
      株を売買して利益が発生したり、配当金を受け取ると税金が課されます。<br>
      税金は確定申告で支払う必要がありますが、その支払い方法や内容(支払い区分)は
      証券会社に口座を作った時の申請内容によって異なります。<br>
      なお、株の売買で発生した利益のことを<strong>「譲渡益」</strong>と呼びますが、
      税金の申告が必要な利益は譲渡益と配当金になります。<br><br>
      <%= image_tag 'http://www.daiwa.jp/money/tax/stock/images/domestic01_il001.gif' %>
      <br>
      なお税金は発生した利益に対して課されるので、当然ですが損失が発生した場合には課税されません。<br>
<br>
      <h4>証券会社に開設した口座の種類によって確定申告しなくていい場合がある</h4>
      年間(1/1-12/31)を通じて利益が発生した場合、翌年の2月中旬から3月中旬までの間に確定申告をして税金を納める必要があります。<br>
      ただし、証券会社に口座を開設した時にご自身が選択した特定口座か一般口座かという選択肢と
      さらに特定口座の場合であれば源泉徴収ありとなしという選択肢によって、この確定申告をしなくてもいい方法があるのでご紹介します。<br>
<br>
      確定申告をしなくていいのは特定口座の「源泉徴収あり」を選択した場合です。<br>
      特定口座を選択した場合でも、もう片方の「源泉徴収なし」を選んだ場合には確定申告をしなくてはいけませんが、
      その際に「特定口座年間取引報告書」という書類をもとに記入すれば(一般口座よりは)簡易的に確定申告を行うことができます。<br>
      特定口座年間取引報告書は、年が明けた1月ごろ、口座を保有している証券会社から年始に郵送されてくることもあります。<br>
<br>
      また一般口座では源泉徴収あり、なしを選べないので、通常の確定申告が必須になります。<br>
<br><br>
      少しややこしいので簡単に以下の表にまとめます。
      <table class='securities_table'>
        <tbody>
          <tr>
            <th>口座種別</th>
            <th>源泉徴収</th>
            <th>確定申告</th>
          </tr>
          <tr>
            <th>特定口座</th>
            <th>なし</th>
            <td>証券会社から郵送された「特定口座年間取引報告書」をもとに税務署に言って確定申告を行って納税する必要があります。</td>
          </tr>
          <tr>
            <th>特定口座</th>
            <th>あり</th>
            <td>証券会社が投資家の代わりに確定申告をしてくれますので、投資家が確定申告をする必要はありません。</td>
          </tr>
          <tr>
            <th>一般口座</th>
            <th>ー</th>
            <td>通常の確定申告が必要になります。</td>
          </tr>
        </tbody>
      </table>
      <br>
      ※一般口座では源泉徴収有無は選択できません。<br>
<br><br>

      <h3>投資対象別の税金の取り扱い</h3>
      <br>
      <h4>【現物の税金】</h4>
      売買で発生した利益(売買益)と獲得した配当金の約20%(2016年5月現在)が税金となります。<br>
      <div class="studytips">
        <strong>現物とは</strong>、株そのものの事です。<br>
        より正確に言うと、現物とは実体のある(受け渡しが可能な)有価証券の事を指します。<br>
        先物の対比語として使われます。<br>
      </div>
      <br>
      前年の(1年間の)売買で損失が発生している場合、繰越控除と言って利益と相殺して税金を減らすことができます。<br>
      この損益通算については後ほどご説明します。<br>
<br>
      <h4>先物の税金</h4>
      利益(売買益)の約20%(2016年5月現在)<br>
      なお、現物同様、三年間の繰越控除が可能ですが、
      現物と先物の損益通算はできません。<br>

      <h4>税金の支払方法</h4>
      税務署に直接払う方法や指定された金融機関やコンビニでも支払いが可能です。<br>
      また振替納税を申請して受理されている方はご指定の金融機関から自動的に引き落とす事も可能です。<br>
      <%= link_to 'http://uguisu.skr.jp/tax/submit.html' %>
<br><br>
      <h4>損益通算</h4>
      上で書いたように、一年間の売買の結果、配当金を合わせても損失が残る場合、
      翌年以降に発生した利益と相殺できます。<br>
      この結果、何が嬉しいかというと前年に損失が発生していればその翌年の利益を相殺出来るので、税金を減らすことができます。<br>
<br>
      損益通算は口座によってそのままできるケースとできないケースがあります。<br>
      ただし、特定口座で源泉徴収梨の場合はそのままでは損益通算ができませんが、繰越控除を行うなど対応することにより損益通算可能です。<br>

      <div class="損益通算と繰越控除">
        損益通算とは1/1〜12/31における同一資産(A株とB株)であれば
        売買損失(譲渡損失)と売買益(譲渡益)を相殺することができるという制度です(A株の譲渡益とB株の譲渡損失を相殺)。<br>
        一方で去年の一年間の損益通算した結果、譲渡損失であれば今年の利益がでても相殺できる制度でこれを繰越控除と呼びます。<br>
        繰越控除は過去三年間に発生した損失で税金を抑えることを言います。<br>
        株式と投資信託の間も損益通算は可能です<br>
        また、2016年から株式と投資信託と債券(国債、社債)や公社債投信の間についても損益通算と3年間の繰越控除が可能になりました。<br>
      </div>

    </div>
  </div>
</div>
