<!-- seo -->
<%= set_meta_tags title: '最初に買う銘柄の選び方' %>
<%= breadcrumb :study_search_my_portfolio %>

<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">

     <div id="studytitle">
       <h1>
         最初に買う銘柄の選び方
       </h1>
     </div>
    <%= render 'layouts/studyIndex' %>
    <h3>銘柄探し</h3>
    投資するといってもまずは何を買うかを決めなくてはなりません。<br>
    何をどのくらい買うかという問題は簡単なようでいざ買うとすると難しい問題です。<br>
<br>
    そのために重要なのが投資する理由です。<br>
<br>
    <h3>投資する理由を決めましょう</h3>
    ご自身が投資する理由は何でしょうか。<br>
    中には株を勉強して就活に結び付けたいという方もいるかもしれません。<br>
    多くの人は純粋にお金を増やしたいからではないでしょうか。<br>
<br>
    前者であればどんな業種に勤めたくてどんな分野の投資業務に従事したいかにもよります。<br>
    ここは主に株式投資について述べるので、例えばコモディティや債券、為替ディーラーになりたい場合は
    それらのジャンルでお調べすることをお勧めします。<br>
<br>
    調べてから幅広い銘柄に対して損しない程度に流動性が高く、価格が値崩れしにくい安定株を中心に幅広く売買を重ねた方が良いかと思います。<br>
    これは損しないというメリット以外にご自身が機関投資家に勤められてから主に取引する銘柄を売買する訓練にもつながります。<br>
<br>
<br>
    後者であってもまだ深く掘り下げる必要があります。<br>
    例えば、老後の資金が必要なのか、近い将来少し良い暮らしがしたいのか、車や家などの高い買い物を買いたいのかといったことです。<br>
    老後の生活資金ということであれば今の年齢が20代の人であるか40代の人であるかによって期間が変わってきます。<br>
    退職までの期間が長い若い人であれば時間を味方に付けることができます。<br>
    時間を味方につけるとはある程度長い期間を投資することによってその期間で得た配当による複利効果を目的にします。<br>
    一般に株価に対する配当金額である配当利回りは高いところで7%ほどある銘柄もあります。<br>
    業種では銀行、証券、保険などの金融セクターと不動産や海運などの公益、インフラセクターは配当利回りが高いです。<br>
    こうした業種の株価は短期的な景気の変動にあまり大きくは左右されません。<br>
    そのため短期のリターンを目的にしないので、リスクをとらず、下落リスクはそこまで大きくない一方で、
    配当が毎期入ってくるので、長い期間保有して配当金でさらに株式を買いましていれば大きな金額になります。<br>
    例えば、20歳の人が100万円で配当利回り5%の株を購入して40年間保有して配当を投資し続けていたら投資金額は6倍の600万円になります。<br>
<br>
    また、5年後のマイホームの購入に充てたいということであれば
    ある程度の余裕資金を使って多少リスクを負ってでも収益の獲得を目指すことになります。<br>
<br>
    一般に、短期でリターンを狙うということは同じ期間で同じくらいリスクも追うことになりますので最悪のケースを想定した余裕資金である必要があります。<br>
    つまり最悪のケースとしてなくなってもいい資金で運用する形になります。<br>
    この場合は景気敏感株や材料株を狙う必要があります。<br>
    景気敏感株は在庫調整や年単位の業績の季節性により、株価が景気サイクルに影響されるのでシクリカル銘柄とも呼びます。<br>
<br>
    短期目的の場合、この銘柄がいい！やこの業種に注目！という選び方は正しくありません。<br>
    正しい選び方は、自分の資金需要の目的とする期限を見据えたサイクルの業種や銘柄を探します。<br>
    例えば、５年後にマイホームを建てるためにその資金の足しにしたいという方には
    5年のサイクルで株価が変動し、そのサイクルの中で今が安値になっている銘柄を探します。<br>
    一般に建設ラッシュは5年ごとにやってくると言われているので、建築、住宅セクターなどから探すわけです。<br>
<br>
<br>
    <div class="studytips">
      株式ではリスクとリターンは裏表の関係にあります。<br>
      期間が長ければ長いほど大きな収益を期待できますが、
      一方で狙う収益が大きければ大きいほど損失額も大きくなる可能性もあります。<br>
      これは株価というもの自体が上がるのも下がるのもほぼ同じ確率であるため、
      期待する上げ幅が大きいだけ下げ幅も大きくなってしまう可能性があるということです。<br>
    </div>
<br>
    <h4>目的別の推奨銘柄</h4>
    <table class="securities_table">
      <tbody>
        <tr><th>目的</th><th>セクター</th><th>業種</th></tr>
        <tr><td>長期保有(老後資金)</td><td>公益・インフラ、高配当株</td><td>鉄道、空運、電力、化学薬品</td></tr>
        <tr><td>5年保有(マイホーム)</td><td>中期景気循環株</td><td>建設、住宅</td></tr>
        <tr><td>2年以内の保有(余裕資金)</td><td>短期景気敏感株</td><td>通信機器、IT</td></tr>
      </tbody>
    </table>
<br><br>
    <h3>自分独自の方法を探す</h3>
    資金需要の期限によって購入銘柄を探すという一例を示しましたが、
    実際にはその他にも様々な探し方があります。<br>
    また巷にはたくさんの売買方法に関する情報があふれていますが、
    要は安く買って高く売ればいいのです。<br>
    つまり、安く買って高く売るためにはどうしたらいいかという観点では
    業種や業績ではなく、これまでの値動きだけで見て今安いかどうかを判断することも可能です。<br>
    これはテクニカル分析やテクニカルチャート分析と呼ばれており、
    研究対象として歴史ある理論などもあります。<br><br>
<br>
    投資手法には多種多様なものがありますので、人それぞれに見合った方法を検討されることをお勧めします。
<br><br>
  </div>
</div>
