<%= set_meta_tags title: '証券会社別の分析ツール比較' %>
<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h2>
         ツールで選ぶ
       </h2>
     </div>
    <%= render 'layouts/studyIndex' %>
    <div id="studycontents">

        <h4>株式投資で重要な分析ツール</h4>
        多くの投資家は株を売買するときなど、様々な情報を目にします。<br>
        例えば、購入した銘柄の株価が上昇した場合、その後まだまだ上昇するのので保有し続けるのか、
        それとも下落に転じて売るべきなのかという場面はよくあります。<br>
        こうした場面では過去の値動きを参考にしますが、時系列データを見ただけでは単なる数字の羅列に過ぎませんし、
        それをグラフにしたところでその後の値動きを予測するには専門的な知識や分析能力が必要になってきます。<br>
<br>
        株を売買している人の中にはその道何十年という専門家のような人もおりますが、
        大多数の個人投資家はこうした知見は持っていないので証券会社の分析ツールを用いて
        その後の値動きを予測するなどの行為を取るわけです。<br>
<br>
        ここでいう分析ツールとは、一口に言っても様々なものがあります。<br>
        例えば、売買銘柄に関する財務データや取引に重要な指標を提供するものもあれば、
        過去の値動きから今後の上げ下げを予測するものもあります。<br>
<br>
        上げ下げと言っても結局、値動きそのものは人間の意志の集合体が作り出したものですので
        必ず儲けられるというルールのようなものはありませんが、
        株の分析にはテクニカル分析や財務分析といった、過去の知見を集約した予測方法に関する技巧がありますので、
        分析の途中のプロセスを省いてこうした分析結果だけを個人でも得ることができるのです。<br>
<br>
        <h4>ツール一覧</h4>
        それでは証券会社ごとにどのようなツールがあるのか見てみましょう。<br>

        <table class="securities_table">
          <tbody>
            <tr>
              <th>順位</th>
              <th>証券会社</th>
              <th>ツール名称</th>
              <th>リアルタイム</th>
              <th>料金</th>
              <th>特徴</th>
            </tr>
            <tr>
              <td>１位</td>
              <td>楽天証券</td>
              <td>MARKETSPEED</td>
              <td>◯</td>
              <td>2500円/3か月</td>
              <td>20種類以上のテクニカル分析※。</td>
            </tr>
            <tr>
              <td>２位</td>
              <td>カブドットコム</td>
              <td>kabuSTATION4</td>
              <td>◯</td>
              <td>無料(条件付き)</td>
              <td>前月売買していれば翌月無料で使えます。チャート上から発注できます。<br>
                その他、統計的な銘柄選定、アナリストレポート、チャート機能など充実している「kabuナビ」もあります。
              </td>
            </tr>
            <tr>
              <td>３位</td>
              <td>マネックス証券</td>
              <td>新マネックストレーダー</td>
              <td>◯</td>
              <td>無料</td>
              <td>チャート上から発注できる。前月売買していれば翌月無料で使えます。
                その他、統計的な銘柄選定、アナリストレポート、チャート機能など充実している「kabuナビ」もあります。
              </td>
            </tr>
            <tr>
              <td>４位</td>
              <td>松井証券</td>
              <td>ネットストックハイスピード</td>
              <td>◯</td>
              <td>無料</td>
              <td>キーワードを入力するとニュース記事の中から銘柄を見つけることができるニュースファインダー機能や
                チャートの形状から銘柄を抽出するチャートフォリオも便利です。</td>
            </tr>
            <tr>
              <td>５位</td>
              <td>GMOクリック証券</td>
              <td>スーパーはっちゅう君</td>
              <td>◯</td>
              <td>無料</td>
              <td>先物も同時に売買できます。また初心者向けの銘柄選定機能として、かんたん銘柄診断も便利です。</td>
            </tr>
            <tr>
              <td>６位</td>
              <td>岡三オンライン証券</td>
              <td>岡三ネットトレーダーシリーズ</td>
              <td>◯</td>
              <td>無料版と<br>有料版あり</td>
              <td>多様な注文方法が可能で、種類も豊富で高度な機能が多いです。<br>
                14種類のテクニカル指標と組み合わせて銘柄を検索することができます。</td>
            </tr>
            <tr>
              <td>７位</td>
              <td>ライブスター証券</td>
              <td>livestarR</td>
              <td>◯</td>
              <td>無料</td>
              <td>注文期限は30日先まで可能で、注文時に入力項目に現値が表示されているので間違いにくいという細かな気遣いが嬉しいツールです。</td>
            </tr>
            <tr>
              <td>８位</td>
              <td>岩井コスモ証券</td>
              <td>岩井コスモトレーダーPRO</td>
              <td>◯</td>
              <td>有料</td>
              <td>月額3,240円と有料ですが、注文有効期間が30営業日先まで、2000銘柄も登録可能で板に発注機能が備わっており、プロ向けと言えるでしょう。</td>
            </tr>
            <tr>
              <td>９位</td>
              <td>SBI証券</td>
              <td>HYPER SBI</td>
              <td>◯</td>
              <td>条件付き無料</td>
              <td>東証に加え、私設取引システムのジャパンネクストPTSも自動チェックして最良執行が可能になります。<br>
                通常月額500円ですが、前月に売買１回以上必要になります。<br>
                注文有効期限は15営業日。成長性や割安性などの8種類のスコアリングを使った銘柄スクリーニングが可能です。銘柄スクリーニング</td>
            </tr>
            <tr>
              <td>10位</td>
              <td>丸三証券</td>
              <td>疾風くん</td>
              <td>◯</td>
              <td>条件付き無料</td>
              <td>ネット取引の「マルサントレード」で信用口座を開設すれば無料です。リアルタイムの株価確認、注文、約定報告を確認することができます。
              </td>
            </tr>
          </tbody>
        </table>
<br>
        <br>
        テクニカル分析とは過去の値動きから平均値の推移や長期や短期の株価、出来高の傾向から将来の株価を確率的に予測する分析方法です。<br>
        <br>
        自然界に多く存在するフィボナッチ数列をもとにしたエリオット波動理論や
        最安値や最高値の平均値を算出にした雲と呼ばれるレンジを用いた一目均衡表などが有名です。<br>
        こうした分析は専門的すぎるので一から学ぶ必要はありませんが、
        多額の資金を運用して株価を動かしやすい機関投資家などは未だに参考にしているところもありますので、
        こうした投資家がどのように考えているのかを知るだけでも有用だと思います。<br>
<br>
        どれも一長一短ありますので、上記の表を参考に幾つか試してみてご自身が最も使いやすいものをお探しください。<br>
    </div>
  </div>
</div>
