<%= @path if Rails.env.development? %>
<div class="row">
  <div class="col-xs-11 col-sm-11 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"
       id="studyframe">
     <div id="studytitle">
       <h3>
         取引手法で選ぶ
       </h3>
     </div>
    <%= render 'layouts/studyIndex' %>

    <div id="studycontents">
      <h4>多様な取引手法</h4>
      初めて株を始める時に、これだと思う銘柄を購入してからは、株価が表示されている板やチャート呼ばれる値動きの様子を見ながら、
      今だ！と思う瞬間まで待ってから売ります。<br>

      しかし、このサイトをご覧になっている方には、育児の忙しい主婦や仕事が忙しいサラリーマンの方々など、
      常に机に張り付いてPCで値動きを見たり、スマホを見ながら売り時を探ることは難しいと思います。<br>
      そう言った方々は株の売買ができないかと言われると決してそんなことはなく、
      むしろ、株の売買に熟練するほど、値動きを常に見ている方は少ないです。<br>

      証券会社によってはそうした人たちのために、様々な工夫をしているところがあります。<br>
      例えば、ある証券会社は一定の価格になったら自動的に売買する

      →指値と何が違うのか


    </div>
  </div>
</div>
