@import "bootstrap";
// topsidebarの仲でpaddingやmarginを調整しているのでモバイルビューではみ出してしまっている
// cssで修正する場合は以下、もしくはstatic_pages/home.erb.htmlのビュー側で修正するか！
// http://allabout.co.jp/gm/gc/396404/

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$lightGray: #999;
$grayLighter: #999;

$sidebarMarginLeft: -35px;
$sidebarMarginRight: -20px;
$sidebarPaddingLeft: 10px;
$sidebarPaddingRight: -45px;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//newsのタイトル
#adsidebar{
  margin-right: $sidebarMarginRight;
  margin-left: $sidebarMarginLeft;

  padding-left: $sidebarPaddingLeft;
  padding-right: $sidebarPaddingRight;

  // text-align:
}

//newsのタイトル
#newssidebartitle{
  margin-right: $sidebarMarginRight;
  margin-left: $sidebarMarginLeft;

  padding-left: $sidebarPaddingLeft;
  padding-right: $sidebarPaddingRight;

  //border-radius: 10px;
  border-style: solid;
  border-color: $grayMediumLight;
  border-width: 1px;

  background-color:#858585;//#ffe;
  color:#fff;
  letter-spacing: 1px;

  // text-align:
}
//newsコンテンツ
#newssidebarcontents {
  margin-right: $sidebarMarginRight;
  margin-left: $sidebarMarginLeft;
  padding-left: $sidebarPaddingLeft;
  padding-right: $sidebarPaddingRight;

  border-top:0px;
  border-right:1px solid $grayMediumLight;
  border-bottom:1px solid $grayMediumLight;
  border-left:1px solid $grayMediumLight;
  //border-right:1px double $grayMediumLight;
  //border-left:1px dotted $grayMediumLight;
  //border-bottom:1px dashed $grayMediumLight;

  // background-color:#ffe;

  //border-top: 1px solid $grayMediumLight;
}

.newssidebaritem{
  height: 70px;
  border-bottom : 1px dotted $grayMediumLight;

  margin-left: -3px;
  margin-right: -1px;
  margin-bottom: 3px;

  //background-color: #000;
}
.chartLocationCustomize{
  padding-left: 100px;
}
#topsidebar {
  margin-right: $sidebarMarginRight;
  margin-left: $sidebarMarginLeft;

  padding-left: $sidebarPaddingLeft;
  padding-right: $sidebarPaddingRight;

  border-radius: 10px;
  border-style: solid;
  border-color: $grayMediumLight;
  border-width: 1px;


  background-color:#ffe;

  border-top: 1px solid $grayMediumLight;
}

.first-col{
  padding-left: 20px;
}

.newsSideBarItemTime{
  color:#c0c0c0;
  // color : #f00;
  font-size: 12px;
}


.feeds {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-top: 1px solid $grayLighter;
		&:last-child {
			border-bottom: 1px solid $grayLighter;
		}
	}
}
