 <div id="studyindex">
  <h2>株式講座</h2>
  <br>
  <%= render 'layouts/study_elementary_stock_trade_index' %>
  <%= render 'layouts/study_intermediate_securities_fee' %>
  <%= render 'layouts/study_advanced_trade_technique' %>
</div>
